[2016-12-25 05:47] yowainwright opened #2 "Travis build"

[2017-02-11 05:33] yowainwright opened #3 "Could I get some 👀 please? 🙏"
@pwfisher @briangonzalez @jakiestfu 🙏🙏

[2017-02-11 09:02] yowainwright opened #4 "Improve sketch clarity—it's blurry"

[2017-02-21 07:59] #3 closed, assigned to yowainwright

[2017-02-22 19:08] #2 closed

[2017-02-22 19:08] #4 closed

[2017-03-10 07:39] yowainwright opened #6 "Make stickybits work with data attr"

[2017-03-10 07:41] yowainwright opened #7 "Make option for `stuck` & `stopped` support when `sticky` is supported."

[2017-03-13 18:00] yowainwright opened #8 "Create Fun Stickybits Demo"

[2017-03-13 18:00] yowainwright opened #9 "Add Stickybits to GH Page"

[2017-03-13 18:01] yowainwright opened #10 "Add background image illustration"

[2017-03-13 18:02] yowainwright opened #11 "Add Framework Support"

[2017-03-22 00:38] #9 closed

[2017-03-25 15:39] #10 closed

[2017-03-25 15:39] #7 closed

[2017-03-31 05:00] #8 closed

[2017-03-31 05:01] yowainwright opened #13 "CSS animations for landing page"

[2017-03-31 05:01] yowainwright opened #14 "Replace aside name with image"

[2017-03-31 05:02] yowainwright opened #15 "Update documentation in Gh Page"

[2017-04-01 08:44] #14 closed

[2017-04-04 03:10] #13 closed

[2017-04-04 03:10] #15 closed

[2017-04-04 03:14] yowainwright opened #16 "Add share images"

[2017-04-04 03:30] #16 closed

[2017-04-07 06:56] yowainwright opened #17 "optimize `scroll`"

[2017-04-12 07:34] #17 closed

[2017-04-19 18:12] yowainwright opened #21 "GH Page wonkiness in IE"

[2017-04-19 21:58] #21 closed

[2017-04-19 22:27] yowainwright opened #22 "`Aside offset` on `gh-phage` is slightly off—check math"

[2017-04-20 03:14] rulych opened #23 "Cleanup method?"
Is there any way to stop and clean up an instance of stickybits? If not, it would be nice to add one. For example, if you want to use the stickybits within a React component, it would be good to be able to remove it (especially the event listener added by `manageStickiness()`) when the component is unmounted.

[2017-04-20 05:58] yowainwright opened #24 "If `position: sticky` is available do not add/remove."

[2017-04-20 17:35] yowainwright commented on #23
@rulych thanks for the comment! We have an issue setup for more framework/library support—like React. I will consider this feature very soon. If you'd like to help be a part of that—let me know. 🙌

[2017-04-20 17:36] #24 closed

[2017-04-21 21:51] yowainwright opened #25 "export stickybit for component library compatible"

[2017-04-25 02:28] rulych commented on #23
I don't it's about framework/library support. The integration with React is already super simple. 👍

What I meant is that, after you use `stickybits()` somewhere, the event listener that is registered is never cleaned up. For example:
[code]

After executing this code, the `scroll` event listener remains there, even though it's useless now.

[2017-04-25 06:39] yowainwright commented on #23
@rulych that's a great point! ~Thanks

[2017-05-29 11:41] hacknug opened #30 "About stickybits and breakpoints"
Is there any way to disable/enable the plugin under/over a certain breakpoint? I only need my columns to be sticky when they're sitting side by side and not collapsed on top of each other.

Right now I'm using a couple of `!important` to override the plugin inline styles but ideally it shouldn't add them when I don't need it to do nothing,

[2017-05-29 17:29] yowainwright commented on #30
I will work working on this asap (next few days) thanks for your thoughtful description @hacknug! 🙏

[2017-05-29 21:22] yowainwright commented on #30
@hacknug I'll be addressing this issue with #23 ~Thanks again

[2017-05-29 21:22] #30 closed

[2017-06-02 18:02] greenkeeper[bot] opened #31 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dollarshaveclub/stickybits/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-

[2017-06-06 03:45] someguynamedmatt commented on #25
@yowainwright Can you clarify this a little bit, please?

[2017-06-06 04:47] yowainwright commented on #25
@someguynamedmatt tomorrow—lets chat! 🤓

[2017-06-06 05:53] #25 closed

[2017-06-06 07:00] #31 closed

[2017-06-07 23:51] jdengsc opened #35 "How does StickyBits check if the browser supports position: sticky?"
Hi!

I'm evaluating StickyBits for use in the (React) app I'm developing, and it's important to me that the library exits (i.e. doesn't attach an event listener) if the browser supports position: sticky.

I tried looking at the source code and couldn't find any check for the browser support.

Please let me know if this isn't the right place to post this.

[2017-06-08 09:06] yowainwright commented on #35
@jdengsc this is a fine place. 🤓 Stickybits checks to see if `sticky` is supported by looping over an array of browser prefixes for `sticky` and seeing if an element adds an inline `sticky` style.

https://github.com/dollarshaveclub/stickybits/blob/master/src/stickybits.js#L6

https://github.com/dollarshaveclub/stickybits/blob/master/src/stickybits.js#L44

If `position: sticky` is supported, then

[2017-06-09 17:30] jdengsc commented on #35
@yowainwright Thanks for the quick support and the link!  The code makes a lot of sense to me- I'd prefer to use browser supported `position: sticky` if available and don't want to add too much bloat to support stickiness on older browsers

[2017-06-09 18:46] jdengsc commented on #35
Since my question was answered, I am closing this issue.  Thanks!

[2017-06-09 18:46] #35 closed

[2017-06-12 08:23] meltuhamy opened #36 "Release 1.3"
Hey,
Just wondering when you'll release 1.3 to npm? Thanks!

[2017-06-12 09:02] meltuhamy opened #37 "window.scrollY is not defined in IE11"
This plugin doesn't work on IE11 because [window.scrollY is not supported](https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollY#Browser_compatibility).

[2017-06-12 16:28] yowainwright commented on #37
Great catch—thank you!. I'll change this asap. 🙏

[2017-06-12 16:28] yowainwright commented on #36
ASAP! 🙏

[2017-06-12 16:29] yowainwright commented on #37
For my [reference](https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollY#Notes)

[2017-06-15 02:43] #37 closed

[2017-06-15 02:43] #6 closed

[2017-06-19 04:24] #23 closed

[2017-06-19 04:24] #36 closed

[2017-06-19 04:24] #11 closed

[2017-06-22 21:42] ishields opened #42 "js-is-stuck does not seem to be added when sticky is supported"
I'm using the latest version of chrome which supports position: sticky.  Unfortunately I'm noticing that js-is-stuck does not seem to be added.  Is this a known issue?

I'm defining my sticky element with jquery

[code]

The element is sticking correctly but the isStuck just does not work.

[2017-06-22 22:16] ishields commented on #42
Digging in, I think the issue has something to do with "stickyBitStart".  Essentially that is smaller then it should be and as a result the js-is-sticky class gets added before the element is actually sticky.

[2017-06-23 01:33] yowainwright commented on #42
Dang—no fun!!! This probably happened when I fixing another issue. Ma bad. I'm on it!!!

[2017-06-23 02:19] #22 closed

[2017-06-23 04:57] ishields commented on #42
Interesting.  So I haven't replicated it yet in code pen because it requires a more advanced use case I think.  Basically it seems like the calculation of stickyBitStart changes depending on your scroll position on the page.  I put a console.log underneath the line
[code]
Then I refreshed the browser a couple of time with different scroll positions.  Depending on my scroll position when I refresh,

[2017-06-23 13:54] yowainwright commented on #42
My initial thought is:
-  Can you make a  codepen to show the issue?
-  Once I can see the issue too, can we make a codepen together and fix the issue?

If you can make a codepen showing the issue, then I will work with you to make it work how we want.

I think/hope with the _stickbits_ `.cleanup` method, we can get your issue working perfectly. 👌

[2017-06-26 11:02] anilanar opened #45 "Passive scroll listener"
Doesn't it make more sense to use a passive scroll listener as `preventDefault()` is not used?

[2017-06-26 14:22] yowainwright commented on #45
@anilanar, I did not know about the `passive` property but the pr looks 👌! I will look shortly 🙏

[2017-06-26 14:57] #45 closed

[2017-06-26 17:48] aFarkas commented on #45
Using the `passive` event option for the scroll event doesn't make much sense. If used in conjunction with `scroll` event it only shows some basic misunderstanding of the devs writing the code.

[2017-06-26 18:46] nstanard opened #48 "Question: Scroll event along with RAF"
I've never seen a scroll event that uses Request Animation Frame in the event function. Is there somebody that can help me understand the reason why that's the approach for this project? Would it not be better to use only RAF?

[2017-06-26 19:23] nstanard commented on #48
nvm, it's all clear now.

[2017-06-26 19:23] #48 closed

[2017-06-27 01:11] IanYates opened #49 "Failure to stick properly in Chrome on 3rd child"
I've copied a fairly simple Codepen demo I found and have embellished it slightly.
Link to my pen: https://codepen.io/IanYates/pen/ZyaQXZ

In latest Chrome (Version 61.0.3135.5 (Official Build) dev (64-bit)) on Windows you can scroll down and get image 1's header behaving properly, and image 2's header behaving properly but image 3's header doesn't stick.

In IE 11 this seems to work properly.

Th

[2017-06-27 03:25] yowainwright commented on #49
@ianYates, I will dig into the Codepens ASAP! Thanks for your detailed issue! 🙏

[2017-06-27 04:10] yowainwright commented on #49
@IanYates there were some minor tweaks I did with the codepen you shared. It appears that stickybits is working correctly and that we just need to modify the `html` and `css` slightly. 🙌

~Btw, thanks for pointing out that the codepens were out of date. I will update that asap.

Here's what I forked for your codepen: https://codepen.io/yowainwright/pen/VWrjVw
—Sorry, in advance, if the forked code

[2017-06-27 05:43] IanYates commented on #49
Hi @yowainwright - thanks so much!

I am looking to have every Stickybit in its parent.  The idea is that I've got a scrolling list of document pages (images) and want a header at the top of each image with some text and a couple of buttons, etc.  Whilst the image is on-screen I want its heading to still be visible even though perhaps the top 50% of the  of image has been scrolled out of view and

[2017-06-27 05:43] #49 closed

[2017-06-27 09:28] anilanar commented on #45
@aFarkas You are right, I assumed `scroll` was preventable, apparently it's only touch and wheel events. However if you don't mind, that bomb is more than welcome.

[2017-06-27 13:18] aFarkas commented on #45
Thx, @anilanar. I just answered this [stackoverflow question](https://stackoverflow.com/questions/41740082/scroll-events-requestanimationframe-vs-requestidlecallback-vs-passive-event-lis) which I found after looking how many people are using this technique.

Checkout the `rAF` part. Because you are using the non useful pattern there too. (It's also related to [this one](https://github.com/dollarsh

[2017-06-27 23:55] yowainwright commented on #49
@IanYates no prob! Thanks for the details. 🙌

I plan on tackling older IEs soonish. Let me know if you want to help w/ it ...?

[2017-06-28 00:12] yowainwright commented on #45
@aFarkas thanks for your insights. 🤓

[2017-06-28 00:56] IanYates commented on #49
I don't have access to anything older than IE 11.   (well I have plenty of VMs but we tell our clients we don't support IE < 11)

I imagine IE 10 probably isn't too bad since it's not that different from 11.  For supported Windows versions you only come across IE 10 if someone's running Windows Server 2012, since Windows 7, 8.1, 10 and Servers 2008 R2, 2012 R2 and 2016 all have IE 11 available.

[2017-06-30 19:31] randyb62366 opened #53 "stuckClass not being removed if you scroll too fast"
If the size of the sticky element is not very large it is possible to scroll fast enough that the stuckClass is not removed.

[2017-07-01 01:27] yowainwright commented on #53
@randyb62366 Thanks for noting this. Could you share demo or example webpage that illustrates this? 🙏

[2017-07-03 04:53] randyb62366 commented on #53
I looked at the last check in and it appears that this has been fixed.  I
will let you know if I have any issues after I try it out.

Thanks,
Randy

On Fri, Jun 30, 2017 at 7:27 PM, Jeff Wainwright <notifications@github.com>
wrote:

[2017-07-03 22:08] yowainwright commented on #53
@randyb62366 Thanks for the response & feedback! 🙏

[2017-07-03 22:08] #53 closed

[2017-07-03 22:38] yowainwright commented on #42
@ishields, thanks for you notes. I'm going to cancel this issue.

Reach out if you have anymore notes/questions/ideas. 🙏

[2017-07-06 12:40] wernerkrauss commented on #42
Hi @yowainwright, it still doesn't apply the js-is-stuck class in Firefox. I installed stickybits 1.3.5

[2017-07-06 14:21] yowainwright commented on #42
@wernerkrauss 😔 Do you have link you can share? ...Or is the issue visible in demos? 🙏

[2017-07-08 04:18] yowainwright commented on #42
@wernerkrauss I'm not seeing that issue here...?
 https://codepen.io/yowainwright/pen/36449183ca18af18f3005734b0251769/

[2017-07-13 21:37] pkrefta opened #60 "Going back to 'normal' state ?"
I've an element on the top of mobile page and it sticks on top as expected 👍  after using
`stickybits('#title')`
I'd love to have ability to go back to normal state when somebody scrolls to the top - is it possible to achieve this someway ?

[2017-07-13 21:43] pkrefta commented on #60
I'd like to apologize for filled-too-fast issue. I had this problem in Chrome's "Device" mode - outside of it everything works fine 💯

Thanks for your work guys 👍

[2017-07-13 21:43] #60 closed

[2017-07-14 20:54] #42 closed

[2017-07-17 18:15] ssbyoung opened #63 "Allow Stickybits scroll event to be bound to elements besides window for Internet Explorer (or `useStickyClasses`)"
Hello,

I'm looking to use stickybits for the project that I'm on. However, branched off of your example and replaced the html/css with my own layout. When I loaded this example on Edge and IE I am not seeing sticky behavior. It works on all other browsers I've tried so far.

Here's the code pen that I've been working with https://codepen.io/bxyoung89/pen/BZeyaE

My intention is to have the yellow

[2017-07-17 23:15] yowainwright commented on #63
Thanks for sharing your issue @ssbyoung ! I'll look into it as soon as possible.

[2017-07-18 00:47] yowainwright commented on #63
From my 👀 : IE doesn't support `position: sticky` so Stickybits defaults to `position: fixed`. The `<element>` that is supposed to be _sticky_ would be set to _fixed_ **if it wasn't within a fixed element**. 😢  As `fixed` `<elements>` are fixed relative to the browser window the second fixed item doesn't work.

Sorry if I'm not being clear. This is pretty complex!

I have a few questions:
-  Is th

[2017-07-18 01:04] ssbyoung commented on #63
Hey, thanks for getting back to me so quickly.

I didn't realize that it'd default to fixed. That explains quite a bit to me.

As for your questions

- Currently we're only really supporting desktop browsers, so mobile isn't too bit an issue.
- The modal is already existing in the app at the moment. I thought get a quick UX win by adding sticky functionality. However, it seems like we might be re-

[2017-07-18 17:34] yowainwright commented on #63
@ssbyoung I have an idea to support your request. https://codepen.io/yowainwright/pen/EXzJeb

I changed `window` to `#modal` so the scroll event is attached to `#modal`. It is a minimal enhancement. I'm going to add it.

Thanks for pointing this issue out!!! 🙌

[2017-07-19 11:41] aitboudad opened #66 "stickybits element width in IE"
Hi
When position: fixed is applied to the sticky element (in IE) it doesn't preserve it's width see bellow:
![stickybits](https://user-images.githubusercontent.com/1753742/28365194-737173aa-6c7f-11e7-907e-c7c663adc932.gif)

Thanks!

[2017-07-19 15:44] yowainwright commented on #66
@aitboudad thanks for the demo! Could you provide a quick Codepen example? I think/hope we can add a little css and make it all better 🙏

[2017-07-19 15:58] aitboudad commented on #66
@yowainwright see https://codepen.io/anon/pen/BZgVrz

[2017-07-19 20:23] yowainwright commented on #63
@ssbyoung do you have time to help me out and see if my un-published in npm version works for you in IE?!!! 🙏

[2017-07-19 21:34] ssbyoung commented on #63
@yowainwright sure, I can take a look. I'll get in contact with you

[2017-07-20 00:15] yowainwright commented on #66
@aitboudad https://codepen.io/yowainwright/pen/BZgeWN

[code]

I think that is on the right path ...?

Could you hack at it a bit? 🙏

[2017-07-20 02:14] yowainwright commented on #63
@ssbyoung I had to update variable calculations in 2 places = working on it. 🤘

[2017-07-20 05:59] cyr-x commented on #66
@yowainwright That's not fixing it (Tested on IE11, Edge 14 & 15).

Only way i've managed it was applying your fix + `max-width` set on parent.

[2017-07-20 16:37] yowainwright commented on #66
@cyr-x awesome!

Unrelated to @cyr-x's comment—there are probably many ways to solve this issue. Keep 'em coming. 🙌

[2017-07-20 22:30] yowainwright commented on #63
@ssbyoung The calculations have been updated. I'm going to make a codepen and test before publishing in NPM—feel free to grab the code from GH `/dist` if you want to test drive.

[2017-07-21 10:20] aitboudad commented on #66
it doesn't solve my issue as in my app I use the grid system (parent doesn't have a specific width).
IMO the better approach is to set the width using js.

[2017-07-21 17:00] yowainwright commented on #66
@aitboudad if you could post your solution here that would be awesome.

I DO think this issue is very valuable for Stickybits to have s people can reference their solutions.

Thanks for sharing!

[2017-07-21 17:34] yowainwright commented on #63
@ssbyoung still not perfect in IE with a custom `scrollEl`. We're getting closer though.

[2017-07-21 17:36] aitboudad commented on #66
just tested with another alternative lib [stickyfill](https://github.com/wilddeer/stickyfill) and  it appear that handle that issue by setting `width` to `auto` and add left + right to the sticky element see https://github.com/wilddeer/stickyfill/blob/master/src/stickyfill.js#L179-L183

[2017-07-21 18:02] yowainwright commented on #66
@aitboudad thanks for sharing. Those styles can be added be added with css:

[code]
The benefit of not assuming what an interface needs (aka **not** `position: sticky` polyfill 🙂 ) is that styles and javascript can be added to create the desired affect.

If the interface requires the sticky element to be positioned at the bottom or not directly at the top of the browser window (see readme examples

[2017-07-21 18:18] aitboudad commented on #66
make sense and I'm totally agree with all arguments, I'll try to find a better approach to my use-cases.
Anyway thanks for all!

[2017-07-21 18:18] #66 closed

[2017-07-25 02:33] yowainwright commented on #63
@ssbyoung Stickybits is as good as it can get w/ the known issue of a [fixed element within a fixed element](https://stackoverflow.com/questions/33943845/position-fixed-element-within-fixed-element-relative-to-page).
----
From the updates that were made, I'd say that changing the `margin-top` of a `position: relative` parent element (the modal) on a `scroll event` could get the codepen you made cl

[2017-07-25 02:33] #63 closed

[2017-07-25 02:43] ssbyoung commented on #63
Hey man. Thanks for trying! I'll keep you up to date if I run into anything else!

[2017-07-25 06:36] kvanberendonck opened #73 "Perhaps mention that you may need z-index to a high value set in the docs"
For some reason I had to use

`z-index: 10; /* in front */`

a lot for the elements I set sticky, even though nothing else on the page had a z-index, otherwise they scrolled behind whatever other things were in the same container. I didn't notice because my element was really skinny, so for a while I just thought they were just stuck in place and nothing was working, heh.

The behavior is differen

[2017-07-25 07:06] donkeybonks opened #74 "Re check `stickystart` + `stickystop` values"
Firefox 54.0.1 (32-bit)
Chrome Version 59.0.3071.115 (Official Build) (64-bit)

Using `{useStickyClasses: true, stickyBitStickyOffset: 0}`.

[2017-07-25 07:08] kvanberendonck opened #75 "Should Stickybits provide the ability to automatically stick elements to the bottom of the viewport?"
Firefox 54.0.1 (32-bit)
Chrome Version 59.0.3071.115 (Official Build) (64-bit)

`{useStickyClasses: true, stickyBitStickyOffset: 0, verticalPosition: "bottom", customVerticalPosition: true}`

Works on Firefox, but on Chrome it does nothing. It adds `position: sticky;` but no `position: bottom`, so the element doesn't stick to anything.

I've heard that pushing `0` to css without a `px` causes issu

[2017-07-25 07:10] donkeybonks opened #76 "Bottom sticky doesn't update until you scroll onto its parent"
If you have something above the parent containing the bottom sticky, it doesn't move the bottom sticky into place until the top of the page passes the top of the parent element, and then it jumps into place at the bottom.

Tested on Firefox with bottom sticky settings:
`{useStickyClasses: true, stickyBitStickyOffset: 0, verticalPosition: "bottom", customVerticalPosition: true}`

Expected behaviour

[2017-07-25 08:00] cyr-x opened #77 "Should Stickybits provide a public `positionVal` for `position: sticky || fixed`?"
I think it would be a good idea to add a boolean property to the stickyBits instance, which indicates if the plugin is using the native implementation of `position: sticky`.

This would allow users to simply check via JavaScript if the `position: fixed` "polyfill" is active or not, to for example apply additional styles dynamically.

I'm thinking of a property called `isNative` or `isUsingNative`.

[2017-07-25 08:17] yowainwright commented on #77
@cyr-x thanks for your insight!

Can you sell me on why this feature is necessary when every Stickybits element has an inline `position: sticky` of position: fixed` property? ~Thanks

[2017-07-25 08:24] yowainwright commented on #73
Could I view the webpage you're working on? ...Or codepen where I can view the issue?

[2017-07-25 08:25] yowainwright commented on #74
Could I view the webpage you're working on? ...Or codepen where I can view the issue?

[2017-07-25 08:27] yowainwright commented on #75
Could I view the web page you're working on? ...Or Codepen where I can view the issue?

I have a working example in the readme where the Stickybits elements stick to the bottom last time I checked. Perhaps we can start there ...?

[2017-07-25 08:29] yowainwright commented on #76
This issue will require a demo or link to the web page you're working on. ~Thanks

[2017-07-25 08:36] cyr-x commented on #77
Because it's a nice and simple way to check if it's using `position: sticky` or `position: fixed`. It would be easy implement this and because of this the user doesn't have to check manually if a style is set and possibly triggering some unwanted layout recalculation.

[2017-07-25 08:50] cyr-x opened #78 "Add typings for Typescript and export Stickybit class"
It would be nice if the library would contain typings for Typescript, which would offer users to use this library in a Typescript project instead of doing `import * as stickybits from 'stickybits'`.

Also it would be nice to export the Stickybit class, to use it for only a single element without creating a Multibits instance.

[2017-07-25 08:53] kvanberendonck commented on #78
I wrote an angular2 directive that made this work mostly automatically (i.e. you just add `sticky` on any element, for example `<div sticky>...</div>`) and then you don't need to worry about the typing because it's isolated into a single directive class.

[2017-07-25 08:55] cyr-x commented on #78
It wrote on too, but inside the directive it would be cleaner with typings and only using a single Stickybit instance, because it's only using the host element and there's no need for a Multibits instance.

[2017-07-25 09:04] yowainwright commented on #77
Could you provide a Codepen of how that feature could be beneficial over 1. the `position` set on the element by Stickybits or 2. checking the `positionVal` of the Stickybits instance?

Pull Requests are also welcome. 💪

[2017-07-25 09:20] yowainwright commented on #78
Great. Submit Pull Request(s) with working tests @cyr-x @kvanberendonck.

[2017-07-25 09:22] kvanberendonck commented on #78
Here is mine .. I may have missed something, yours looks a lot longer and more complex than mine

[code]

[2017-07-25 09:24] cyr-x commented on #77
Here is a codepen with an example:
https://codepen.io/anon/pen/dzPGBN

[2017-07-25 09:26] cyr-x commented on #78
Yeah, you missed to handle input changes, for example if the sticky offset changes dynamically.

[2017-07-25 09:27] kvanberendonck commented on #78
Ah ok, that's never going to happen for me, all my stickies are static.

[2017-07-25 09:42] kvanberendonck commented on #74
Here is a plunkr http://plnkr.co/edit/fvTJ0OfYzhZjoei6AIS6

I can't reproduce this right now at home though (OS X). I was having the issue at work (Windows).

[2017-07-25 09:56] kvanberendonck commented on #75
Now I can't get `verticalPosition: 'bottom'` to work on any of my browsers, here's a plunkr:

http://plnkr.co/edit/5ZFoD1US3Uwmm391lXZy?p=preview

[2017-07-25 21:22] yowainwright commented on #78
I do like the idea of skipping **Multibits** if there is only 1 instance. Thanks @cyr-x

For the _typings_ part, I'll need a PR for that.

[2017-07-26 15:11] kvanberendonck commented on #75
@yowainwright there's a big block of code in the bottom example in the README:

[code]

When I remove it, the bottom stickys stop working, so, I guess `bottom` isn't actually supported right now? Any chance this code could be integrated into the library?

[2017-07-26 18:16] yowainwright commented on #75
Thanks for your feedback @kvanberendonck.

I apologize for the mistake in the readme. Your comment reads like it would have saved you time if I didn't have the mistake in the examples (which suggested a feature that was just an example I added).

I was/am happy to provide the examples or assistance for how to set the sticky element to bottom but I don't plan on adding it to the Stickybits API.

I'

[2017-07-26 18:32] yowainwright commented on #77
This is 1 way: https://codepen.io/yowainwright/pen/VzLpQY.
The other would be with css, like `.js-is-sticky[style*="position: sticky"]`

I appreciate what you're saying—to basically use Modernizr's _sticky check_. I tried to make the code slightly smaller by only addressing  elements affected by Stickybits.

[2017-07-26 20:16] yowainwright commented on #75
Based on @kvanberendonck thoughtful notes:

Should stickbits support `bottom` sticky positioning out-of-the-box? (Or just provide an example as it does currently)

- 👍 if you want out-of-the-box support

[2017-07-26 20:19] yowainwright commented on #77
Based on @cyr-x thoughtful notes:

Should stickbits support public `sticky || fixed` out-of-the-box? (Or just provide notes in this issue)

- 👍  this comment if you want out-of-the-box support

[2017-07-26 21:59] BMCwebdev opened #80 "Set width of sticky element if `position: fixed`"
Am I correct in understanding that in IE, as css sticky is not supported, this will add a position:fixed? I ask because I am dealing with a div inside a flexbox item. If I position fixed it, it looses it's parents width and no longer behaves as if it is contained in the parent. Thank you (sorry, not sure how to add the "question" label.)

[2017-07-26 23:02] yowainwright commented on #74
@kvanberendonck if you can let me know, I'd appreciate it. 🙏

[2017-07-27 00:23] kvanberendonck commented on #75
Ah unfortunately position fixed is not enough in my use case, I need the floater to responsively inherit the width of its container but 'width: inherit;' doesn't work. :(

Eventually there will be 2 sidebyside floaters (imagine split view) so I may have to veer towards using a full JS polyfill.

[2017-07-27 00:29] yowainwright commented on #75
I think/hope that can be addressed with css @kvanberendonck. There are more options than what has been commented on in the [fixed width issue](https://github.com/dollarshaveclub/stickybits/issues/66). I am hoping to make an example for some of the use cases I'm aware of in the nearer future.

Thanks for your insights no matter what.

[2017-07-27 00:33] kvanberendonck commented on #75
The css solution is clever, thanks for that.

[2017-07-27 02:14] kvanberendonck commented on #74
OK so I'm not having trouble in the plunkr, but I'm still having trouble in our app, which unfortunately is only hosted internally, so I'll have to debug and try and figure out why ...

The only thing I can think of is that it's within many container elements, and one of them could be messing it up.

[2017-07-27 02:38] kvanberendonck commented on #74
In debugging this, I added debugs to `manageState` like so:

[code]

The result was that I never got the `notSticky1`, `isSticky1` or `stuck1` debug messages, but got a lot of `scroll` debug messages (so at least the handler is working)`. The readout always reads the same thing over and over:

[code]

[2017-07-27 02:43] kvanberendonck commented on #74
It would appear the issue is that `stickyStop` is not being calculated correctly in my case, for example looking at the values of `parent.offsetHeight`, `el.offsetHeight` and `offset`, I get:
[code]
Which results in `stickyStop < stickyStart`.  🗡

[2017-07-27 02:50] yowainwright commented on #74
That means that the `parent` doesn't have a height according to the browser renderer. Is it floated or something?

**For debugging**: could you try putting the css property: `overflow: hidden`; Or add the [clearfix hack](https://css-tricks.com/snippets/css/clear-fix/) to it...

[2017-07-27 02:51] kvanberendonck commented on #74
The parent is a flexbox container, could have something to do with it . I'll let you know in ~45m

[2017-07-27 02:54] yowainwright commented on #74
It shouldn't. All of the examples use `display: fiex`. Thanks for digging into this!

[2017-07-27 03:32] kvanberendonck commented on #74
OK I was able to resolve this .. it's a combination of 2 things. One will need a bug fix in this library ...

--Issue 1--: my parent element was inheriting `display: flex` from a distance flex parent and this was giving it an offsetHeight of 0 despite `overflow: hidden` making no difference to the page display... When I changed it to `display: block;` all is good now.

--Issue 2--: if you refresh

[2017-07-27 03:54] yowainwright commented on #74
Mmm, issue 2 is an interesting 1. I/we should fix that!

The issue is that some value is stored outside of the scroll event. We could probably use a ternary to fix that by recheck certain values to see if they've changed. Do you fix that or should I?

I'm happy to update it—I just don't know if you'd like to do that and then that way you can reference yourself as a contributor if you'd like ...for

[2017-07-27 03:57] kvanberendonck commented on #74
I can't really do a PR, it's too complicated with ownership as I'd have to get permission sorry.

[2017-07-27 03:59] yowainwright commented on #74
[Fork and PR](https://help.github.com/articles/creating-a-pull-request-from-a-fork/). You don't need permissions.

[2017-07-27 04:01] kvanberendonck commented on #74
No I actually mean because of my contract I don't own any of the code I write if it's remotely related to something I've been working on professionally.

[2017-07-27 17:59] yowainwright commented on #80
I'm going to write an update for this particular feature as it has been requested a lot. I will try to have is ASAP.

[2017-07-27 18:02] yowainwright commented on #74
You could do it specifically for you—no one else required for what it's worth ...I will work on an update asap. 🤓

[2017-07-28 05:17] yowainwright commented on #80
@BMCwebdev here's another [issue](https://github.com/dollarshaveclub/stickybits/issues/66) referencing this same general thing. There are a lot of different ways to fix the valid problem you noted.

Stickybits won't support adding `width` for sticky elements b/c there are many scenarios where that wouldn't be the desired option (think of a sticky element that doesn't extend the full width of the p

[2017-07-28 05:21] yowainwright commented on #80
Duplicate of #66

[2017-07-28 05:21] #80 closed

[2017-07-28 05:21] kvanberendonck commented on #80
+1 this, behaviour is inconsistent under IE otherwise

[2017-07-28 05:32] yowainwright commented on #74
I haven't been able to replicate this issue. 😑

[2017-07-28 05:34] kvanberendonck commented on #74
I'll try make a plunkr for issue 2..

[2017-07-28 05:40] yowainwright commented on #74
@kvanberendonck 🙏

[2017-07-28 15:18] vihryn commented on #73
@kvanberendonck what browser ? Cause I see similar behavior in Chrome, and don't in Firefox.

[2017-07-31 04:47] kvanberendonck commented on #75
This isn't a polyfill and doesn't need to do this.

[2017-07-31 04:47] #75 closed

[2017-07-31 04:51] kvanberendonck commented on #73
@vihryn Firefox, chrome was actually working fine.

Can't reproduce this anymore since I set everything to `display: block` instead of `flex`, so I'll close this and just assume its a browser quirk not a library quirk. People can find this thread on google easily enough.

[2017-07-31 04:51] #73 closed

[2017-07-31 04:52] kvanberendonck commented on #76
Can still reproduce this with simple layout using blocks and no flex. I will plunkr this when I get some time to do so, but should be very easy to reproduce.

[2017-07-31 04:55] kvanberendonck opened #82 "Ability to set the sticky offset in units other than px"
For example, `rem` or `em`, would be really handy.

All my css sizing is done in `rem` so matching the sticky bit offset with the header size so it all collapses nicely is bit of a hacky guess at the moment.

[2017-07-31 18:28] yowainwright commented on #82
Pixels are the unit of measure in the browser with javascript so it makes sense for Stickybits and other UI plugins to use pixels. If pixels are a concern for inline styles added by Stickybits, the engineer can do a calculation for another unit of measure after the stickybits parent element has the class `.js-stickybit-parent`.

[2017-07-31 18:28] #82 closed

[2017-07-31 18:32] hacknug commented on #82
The problem with using pixels is that you'll always have to do the calculation you mentioned if your website uses only rem/em and scales for users that changed their browser's default font-size.

[2017-07-31 18:47] yowainwright commented on #82
Stickybits adds a pixel number for the top offset only. If having inline px units for position styling is really an issue (which it will also be an issue for most [probably all] UI plugins—not just Stickybits 😊 ) the engineer can add the `customVerticalPosition` option and add their unit of measure with CSS.

----

For note, pixels set inline on a single element shouldn't affect REMs, EMs, or Pts.

[2017-08-01 04:13] kvanberendonck commented on #82
I might need to do some deep-diving to figure out what `customVerticalPosition` actually does .. I don't think it does what I thought it does.

[2017-08-01 05:27] yowainwright commented on #76
This could mean that the parent doesn't have a height.

If a parent element doesn't have a height b/c of its set styles, such as being `floated`, Stickybits will not be able to calculate when to be sticky and stuck.

Here's another approach with `display: table`. I haven't tested it in multiple browsers but it gets away from `display: flex`.

Thanks to your notes, I should probably add notes to th

[2017-08-01 05:47] kvanberendonck commented on #76
I haven't made the plunkr yet with an actual stickybits element for testing, but I tore out the exact page layout and put it here. The stickybit goes attached to top and bottom in the central element. https://jsfiddle.net/ceez49hy/14/

I will plunkr this as time allows.

[2017-08-01 19:19] claytuna opened #83 "Does not work on iOS devices"
None of the Codepen examples work on iPhone mobile safari.

I tested the following on iPhone 6S, iPhone 7 - iOS version 10.3.3:

https://css-tricks.com/stickybits-alternative-position-sticky-polyfills/
https://codepen.io/yowainwright/pen/QdedaO
https://codepen.io/yowainwright/pen/VPogaX

[2017-08-01 19:24] yowainwright commented on #83
Thanks for the note. 🙏

That is not an issue with Stickybits. That's within Codepen, because the demos are in `<iframes>`.  I think that issues can be bypassed depending on how your viewing the example in Codepen.

[2017-08-01 19:24] #83 closed

[2017-08-02 06:05] yowainwright commented on #74
@kvanderendonck https://github.com/dollarshaveclub/stickybits/blob/master/README.md (see the bottom)

[2017-08-03 00:22] donkeybonks opened #85 "Option to disable polyfill part of library"
I've realized that the way I use this library, it's basically only for the styling provided by the "sticky" and "stuck" classes. It's much easier to polyfill my app in css than relying on the classes added by the js because the css is more extensible.

The js is fighting against my stylesheets by overriding properties on the element in an attempt to implement the 'polyfill' but I don't really need

[2017-08-03 00:25] kvanberendonck commented on #85
If I can get the OK here, I'll see if I can get some corporate time to raise a ton of PRs ..

[2017-08-03 02:11] yowainwright commented on #85
Are you suggesting to remove the inline `position: value`?

Or, what specific inline css properties are you have a problem with?

[2017-08-03 02:12] kvanberendonck commented on #85
Suggesting a way to not add these:
https://github.com/dollarshaveclub/stickybits/blob/master/src/stickybits.js#L111-L113

[2017-08-03 08:32] joeribakker opened #86 "Object doesn't support `getBoundingClientRect` (found in IE10)"
### Steps to reproduce
1. Apply stickybits to an existing element without providing a `scrollEl` option.
2. Open on IE10 in Windows 7.

### What should happen
Sticky bits galore!

### What actually happens
In IE10 on Windows 7, I'm getting the following error:

[code]

<img width="1551" alt="screen shot 2017-08-03 at 10 20 32" src="https://user-images.githubusercontent.com/1791066/28912746-cf29161

[2017-08-04 17:36] yowainwright commented on #86
@joeribakker thanks for noting this bug. I will fix it ASAP. It has been a challenge to support non-`window` stickybits.

[2017-08-04 17:38] yowainwright commented on #77
@cyr-x I feel like "the people" want this! Thanks for your note. 🙏

I will try to add this ASAP (next 2-3 days)

[2017-08-04 17:39] yowainwright commented on #85
@kvanberendonck I will try to add this ASAP—next 2-3 days.

[2017-08-04 23:47] kvanberendonck commented on #85
I'll PR this today

[2017-08-06 03:04] yowainwright commented on #86
@joeribakker Thanks so much for pointing out this issue! 🙏

[2017-08-07 08:09] joeribakker commented on #86
Thanks for the quick response @yowainwright! I solved it in the meantime by passing `window.document.documentElement` in `scrollEl`, so I'll try and remove it after updating to the new version.

[2017-08-07 18:06] yowainwright commented on #86
@joeribakker please, keep me posted.

From history, it looks like the bug was pushed [here](https://github.com/dollarshaveclub/stickybits/commit/7b6c591052a0c26b7880c2de4567037e9c9e3d46#diff-b9cfc7f2cdf78a7f4b91a753d10865a2), then fixed [here](https://github.com/dollarshaveclub/stickybits/commit/5bc76f54eb888348f95d670a356decef29135205#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) but `npm publish` was n

[2017-08-08 12:21] albv opened #91 "Doesn't work in Google Chrome 55"
None of provided codepen examples works in Google Chrome 55 on Ubuntu Linux. In Firefox all works as expected.
Error in Chrome devtools console:
` se.getBoundingClientRect is not a function at Stickybit.manageStickiness`

[2017-08-08 15:09] yowainwright commented on #91
@albv I will look shortly.

What version of Stickybits are you using? 🙏

[2017-08-08 15:21] yowainwright commented on #91
@albv

Just tested with the latest version of chrome here...

https://codepen.io/yowainwright/pen/5bf3b5d741cc783ee585a3d7c2765308/
https://codepen.io/yowainwright/pen/8a930892347c457f8db00d07ac44c356/

...And it looks like it's working as expected.

I apologize. A bug was [released](https://github.com/dollarshaveclub/stickybits/commit/7b6c591052a0c26b7880c2de4567037e9c9e3d46) and then [fixed](htt

[2017-08-08 15:34] albv commented on #91
@yowainwright yes, I don't have this error with 1.5.3, thanks! But probably you need to update your Codepen examples, it seems they are still using the old version.

[2017-08-08 15:34] #91 closed

[2017-08-09 15:24] hacknug opened #93 "Classes not applied after refreshing scrolled page"
When refreshing a scrolled website, the browser automatically tries to keep your position. This causes stickybits not to apply its classes even if the option is set to true. I think classes should be there just as inline-styles are.

Here's a dev link where you can check this issue (http://dev.llos.co/cupofcouple/jessica-barensfeld-simon-howell/). If you want to see how the element gets stuck at t

[2017-08-09 22:47] matthewmcvickar opened #95 "How can I detect when element is stuck to top of viewport?"
From what I can tell, the `js-is-sticky` class is added when the element gains the ability to stick, and the `js-is-stuck` class is added when the element sticks to the bottom of its parent. But how do we tell when the element has gotten stuck to the top of the viewport? I thought the `js-is-sticky` class indicated the element was stuck to the top of the viewport. But it only indicates the element

[2017-08-09 23:46] kvanberendonck commented on #93
This is not because the class-setting code is failing but because the top of the element is computed incorrectly.

Same as Issue 2 that I mentioned here

https://github.com/dollarshaveclub/stickybits/issues/74#issuecomment-318249067

[2017-08-09 23:49] kvanberendonck commented on #93
I used `getBoundingClientRect` recently and found the following in the documentation:

What it fails to mention is that if the page is scrolled, the viewport is the `fixed` viewport not the page, so the elements `top` position is completely wrong. i.e. if you are scrolled halfway down a page, it returns something like `-1500` for `top`. The problem is somewhere in this interaction as when I consol

[2017-08-10 02:35] yowainwright commented on #93
Thanks for the insights @kvanberendonck and @hacknug ! I'm still not able to replicate the issue but I'm sure it IS there thanks to both of you! I knew how I would fix the issue before and didn't b/c I couldn't replicate it. I will work on this asap. 🙏

[2017-08-10 02:48] yowainwright commented on #95
@matthewmcvickar first, thank you for the clear question/issue! 🙏

This issue is that because the sticky element is not the first child of its parent element, the `useStickyClasses` option doesn't calculate correctly. This will be fixed asap.

[2017-08-10 03:05] kvanberendonck commented on #95
I believe it is a requirement with native sticky for the element to be the first child in the parent .. if not I have problems under Firefox.

[2017-08-10 04:32] matthewmcvickar commented on #95
@yowainwright Aha, that is the problem! If I just put a wrapper around the whole page so that the toolbar is the first element, it works just fine. I'll use that as a workaround for the time being.

@kvanberendonck Hmm, I'm not seeing that. Here's a Codepen demo of non-first-children working just fine with native `position: sticky.` Works fine for me in Chrome, Safari, and Firefox.

[2017-08-10 04:41] kvanberendonck commented on #95
Missing link

[2017-08-10 04:43] matthewmcvickar commented on #95
@kvanberendonck Comment amended. I'm deleting this comment after I post it so you get your notification of it but it doesn't stick around. ;)

[2017-08-10 04:47] kvanberendonck commented on #95
For example `element 3` in this fork doesn't work as expected even under Chrome unless it's the last element, top stickys seem to be working fine.

https://codepen.io/anon/pen/rzmgKa

[2017-08-10 04:54] matthewmcvickar commented on #95
@kvanberendonck Ah, I see what you mean now. And as in this fork, there can be multiple bottom stickys as long as they aren't interrupted by a non-sticky element: https://codepen.io/anon/pen/mMmYGp

[2017-08-10 21:39] maxlapides opened #96 "Classes don't work when there are multiple stickybits on same scroll container"
Here's a codepen that demonstrates the issue: https://codepen.io/maxlapides/pen/QMgQxZ

You'll notice as you scroll down that both Element 1 and Element 2 receive the `js-is-sticky` class even when only Element 1 is sticky.

[2017-08-11 02:27] yowainwright commented on #96
Great observation!

-  Something should be added to the `readme` to note that there should only be 1 sticky element per parent.
-  Stickbits should return an error message if there are sibling Stickbits.

Do you want to add this?

[2017-08-11 02:32] kvanberendonck commented on #96
Regarding point 2, if you throw an error it will break my app that has both header and footer

[2017-08-11 02:33] yowainwright commented on #96
@kvanberendonck "return an error message" => `console.warn`

[2017-08-11 05:02] maxlapides commented on #96
@yowainwright Hey, sorry, i accidentally edited my pen above. Thanks for the note about only 1 sticky element per parent. That makes sense!

I do think I've uncovered a small bug, though, related to the sticky classes and `stickyBitStickyOffset`. When that offset value is > 0, the classes seem to not take that offset value into account. My above pen (https://codepen.io/maxlapides/pen/QMgQxZ) demon

[2017-08-11 07:18] yowainwright commented on #96
@maxlapides thank, that was pointed out in another issue. I (or someone) will fix that asap. ~Thanks

[2017-08-11 19:02] rdennis commented on #85
This may be slightly off topic here, but for my use case I do not want `stickybits` to do anything at all if `position: sticky` is supported. My current workaround is to just use the built in polyfill logic before I call `stickybits`.

[code]

Maybe this is an acceptable workaround, but it would be nice to have support for such a case.

[2017-08-14 15:01] Jakob-Maudience opened #100 "Sticky Classes aren't toggling properly if scrolltop not 0 on anchor load."
I'm using this library in part due to the sticky class toggling (as well as for the polyfill). Although I've ran into some issues for when the class is added or removed.

If the scroll position is not at 0 on pageload, the sticky classes don't get added properly. for instance, if the page loads on an anchor (id hash), the script thinks that's where the page head is. ( you scroll up and the stickyc

[2017-08-14 15:03] Jakob-Maudience commented on #100
It seems that this issue was already posted. Sorry about that. Feel free to delete.

[2017-08-14 20:27] kvanberendonck commented on #100
Thank you for being able to reproduce in isolated test case, I was not able to reproduce in plunkr

[2017-08-14 20:38] yowainwright commented on #100
I will try to address some of the issues in Stickybits ASAP.

Thanks for the note @Jakob-Maudience!

[2017-08-17 06:39] triplejay opened #101 "Callback function OR body class?"
Hi,

I need to make some changes to other elements on the page outside of the stickybits parent element when the selected element becomes sticky. If the stickybits classes were also applied to the body I could hook my CSS transitions off that. An alternative is an option for a callback function perhaps.

Any ideas the best way I can achieve this?

[2017-08-17 06:52] kvanberendonck commented on #101
This is currently not supported, but if you create a top level overlay element with appropriate size of page and use 'pointer-events: none', and place your sticky inside that, it will be constrained as normal but inject the classes higher.

[2017-08-17 06:54] kvanberendonck commented on #101
Your use case sounds a lot like mine - using the library to trigger animations or reflow of content on scroll only and not so much for polyfill?

[2017-08-17 23:53] triplejay commented on #101
Thanks. I'm probably over complicating things but, yes, your use case does sound similar. The polyfill is a bonus.

I have a couple of fixed global elements (a logo in the top left and a menu hamburger icon in top right) and a nav bar that sits at the bottom of the window on page load. I want the nav bar to become sticky when it hits the top and the global elements become 'part' of the nav bar by

[2017-08-18 00:09] triplejay commented on #101
I may be an idiot. I can simply move my fixed elements to within the nav bar. I'll try that first!

[2017-08-18 00:13] kvanberendonck commented on #101
I see, that's difficult! I'm not sure that this is possible (as I understand your explanation) without some javascript shimming, sorry.

This would have been a good application of the `:has` css selector that is not yet finalized, as you'd be able to do something like `.parent:has(.js-is-sticky) > .ele2 { ... }` . If you find a polyfill/shim for `:has` you may be able to do this elegantly, somethi

[2017-08-18 00:16] kvanberendonck commented on #101
If you don't need your header elements to flow relative to body content (i.e. you know their initial top position offsets or whatever), you can maybe put `overflow: visible` on one parent container that encompasses the entire page with the `pointer-events: none` trick, and then style each individually as it becomes stuck into the header on scroll.

[2017-08-18 00:28] triplejay commented on #101
I hadn't heard of :has. Pity support is non-existent: http://caniuse.com/#search=%3Ahas. As you say, a polyfill for :has would be useful.

Regardless, I solved my problem by simply moving my fixed elements into the nav bar.

Thanks for your time and advice!

[2017-08-18 00:28] #101 closed

[2017-08-18 06:29] massive opened #102 "Ability to define class names"
Thanks for the great plugin!

We are using css modules, which basically manages class names to avoid name conflicts. Therefore, it would be useful to be able to define the class names by yourself.

As far as I can see from the source, this is not currently possible?

As an example:

[code]

[2017-08-20 03:30] yowainwright commented on #102
Will be working on this ASAP. ~Thanks for your note.

[2017-08-23 13:31] daanvosdewael opened #104 "Edge / IE11 ignoring offset"
First off, many thanks for maintaining this library.

I'm currently in the process of implementing Stickybits into a project. The HTML structure is roughly setup like this: [jsbin](https://jsbin.com/sulexo/edit?html,css,js,output).

The desired effect is that the red block sticks to the fixed header when you scrolled passed the full width orange block.

With Windows Edge & IE11 the red block goes

[2017-08-23 17:27] yowainwright commented on #104
@daanvosdewael Yup! I'm working on a new iteration of Stickybits to more thoughtfully fix that.

I'm hoping to get it out in the next week or so—just working on normal work stuff as well.

[2017-08-24 00:05] kvanberendonck commented on #96
Hmm, I came across a situation today where there were a lot of sticky elements (5 total) on a page setup to scroll as a 2-split (imagine a side-by-side pdf viewer).

One of the three headers didn't receive the classes but had no issues being sticky and wasn't in the same scroll container.

Just a note because I honestly don't think I will be able to reproduce in isolation..

[2017-08-25 18:22] yaodingyd opened #105 "Sticky Classes adding unexpectedly when one parent has multiple same class sticky children"
_Test case:_
[http://jsfiddle.net/Lyx94mk1/](http://jsfiddle.net/Lyx94mk1/)

_Expected:_
[http://jsfiddle.net/w8p67epb/](http://jsfiddle.net/w8p67epb/)

I think this is because of using parent to determine whether to adding sticky classes, and because they have the same parent, when the first one gets sticky, all the rest gets "sticky" too, even though they are not.

I believe this is a big implem

[2017-08-25 18:28] yaodingyd opened #106 "Sticky classes adding unexpectedly with changed parent height"
_test case_
[http://jsfiddle.net/L1j6vb5z/](http://jsfiddle.net/L1j6vb5z/)

This might be a duplicate with #74.

You can see that the all 4 sticky elements don't get the class right, because there are lazy-loaded images and parent height keeps changed. But the conditions for determining sticky or not only happens once in initialization.

[2017-08-28 18:40] ericrovtar opened #108 "Not working in IE11 on Windows 7"
Hi!

I'm researching solutions to implement sticky behavior in older browsers and came across Stickybits; however, when I browse the demos in IE11 on Windows 7, they don't appear to actually work.

Further, I have `useStickyClasses` set to `true` and I'm only ever seeing the `js-stickybit-parent` class added.

Am I missing something?

Thanks!

[2017-08-28 18:44] yowainwright commented on #108
Stickybits should work in Internet Explorer 9 and above.

Could you submit a demo? Or use-case? ~Thanks

[2017-08-28 19:07] ericrovtar commented on #108
Apologies. It appears that there was an error on my end. I had some CSS that was interfering with it.

However, the demo still does not appear to work properly on your site in IE 11. Here's a screen recording of IE 11 on Windows 7 running on Virtual Box. This is my standard test environment, but you can see that the menu does not stick as it does in Chrome:
[Screen Recording.zip](https://github.co

[2017-08-28 19:53] yowainwright commented on #108
Please refer to a demo in the Stickybits readme. The is the landing page is probably not using the most up to date version of Stickybits.

[2017-08-29 04:35] yowainwright commented on #106
Duplicate of #74

[2017-08-29 04:35] #106 closed

[2017-09-02 22:17] VSG24 commented on #93
Chrome 60 on macOS. Same problem.

[2017-09-03 00:11] yowainwright commented on #93
@VSG24 Thanks for noting this. 🙏

[2017-09-07 07:16] yowainwright commented on #105
@yaodingyd sorry it's taken a bit to respond. I hope to have an update that will address most of the issues in Stickbyt asap—including yours. The update involves me writing must more in-depth tests.

[2017-09-07 07:17] yowainwright commented on #104
@daanvosdewael sorry it's taken a bit for the update. I hope to have an update that will address most of the issues in Stickbits asap—including yours. The update involves me writing must more in-depth tests and a bit of re-architecting to optimally address requests. ~Thanks

[2017-09-07 13:15] yaodingyd commented on #105
@yowainwright  Thank you for your amazing work!

[2017-09-12 20:17] yowainwright commented on #95
@matthewmcvickar Hopefully within the week. I apologize. The time-lapse is not intentional.

[2017-09-12 20:20] matthewmcvickar commented on #95
@yowainwright Thank you for the update; I totally understand this is extra work for you. Can’t thank you enough! I’m using this on a few client projects and I'm eager for the update. :)

[2017-09-14 19:24] rosivanov commented on #108
This demo https://codepen.io/yowainwright/pen/YQZPqR does not work in IE11 win7.
@yowainwright

[2017-09-14 21:18] yowainwright commented on #108
@rosivanov Thanks for sharing! I'm working on an update. I'll appreciate your feedback very soon. 🙏

[2017-09-26 05:19] yowainwright commented on #108
@here adding more tests to address issues. Hopefully by Wednesday!

[2017-09-26 05:19] yowainwright commented on #105
@here adding more tests to address issues. Hopefully by Wednesday!

[2017-09-26 05:20] yowainwright commented on #104
@here adding more tests to address issues. Hopefully by Wednesday!

[2017-09-26 05:20] yowainwright commented on #100
@here adding more tests to address issues. Hopefully by Wednesday!

[2017-09-26 18:18] bakura10 commented on #108
Hi :),

I'm actually having several issues with the bottom positioning on any browser that does not support sticky natively (IE11, Edge...).

I didn't dig too much but the issue seems to come from the fact that it's positioned fixed with bottom 0, so obviously, it stays at the bottom of the screen:

<img width="1680" alt="capture d ecran 2017-09-26 a 20 17 39" src="https://user-images.githubuserco

[2017-09-26 18:21] bakura10 commented on #108
Actually, your demo is fialing as well on Edge :( : https://codepen.io/yowainwright/pen/QdePbr

[2017-09-26 18:22] yowainwright commented on #108
Thanks for the detail @bakura10 !

The release that is coming—today/tomorrow will provide a much more usable API for the use-cases that I've learned from the help of Stickybits customers (like you).

[2017-09-26 18:23] bakura10 commented on #108
Awesome. Glad to hear that. I've been using Stickyfill polyfill for ages but it didn't support bottom sticky, so I'm glad to switch to yours :p.

[2017-09-26 20:32] sissel-siv commented on #100
My quickfix solution for this that works my end.

[code]

From here, just init as follows:

[code]

Hope this helps!

[2017-09-28 05:08] yowainwright commented on #108
@bakura10 I haven't `published` `v2` to npm but I tested in IE on a virtual box and it looked.

[2017-09-28 05:11] yowainwright commented on #105
@yaodingyd I will add your notes to a docs folder tomorrow. I would appreciate your feedback if you have time.

[2017-09-28 05:18] yowainwright commented on #96
#105

[2017-09-28 09:06] bakura10 commented on #108
Hey,

I'm sorry but it completely broke on IE11 nor Edge haha (didn't try older version of IE yet). Bottom, top... nothing works :p. I can see that no classes at all are added. Are your demos updated to the new code as well? Does it require new additional required attributes?

PS: I think I may suggest as well (sorry it's unrelated) is an easier way to remove an existing instance. Currently you on

[2017-09-28 13:01] yaodingyd commented on #105
@yowainwright Definitely! Thank you!

[2017-09-28 14:43] yowainwright commented on #108
No worries—I apologize.

It is strange because I checked IE, and it worked fine for me. I haven’t updated the examples or anything b/c I wanted to reach out to people that have filed issues first.

https://codepen.io/yowainwright/pen/c545e49133acf2d000f4bf8b1e7fa72a

^ That is my first updated pen. I tested it in ie and everything looked fine ...?

What does that codepen demo look like for you?

I

[2017-09-28 15:55] bakura10 commented on #108
No worry :p. I can't share the code for now but I'll try to reproduce a minimal use case. In the meantime, it appears that the issue is that Stickybits only adds the "top: 0" without the "position: fixed":

<img width="1159" alt="capture d ecran 2017-09-28 a 17 54 26" src="https://user-images.githubusercontent.com/1198915/30976858-3369e286-a476-11e7-833e-c24ead9431dd.png">

[2017-09-28 16:14] yowainwright commented on #108
Cool, that should be a minor fix. I’ll look at it shortly.

Thanks for checking!!!

If there needs to be a change. I will add a PR and direct you towards it.

[2017-09-28 16:58] yowainwright commented on #108
@bakura10 I'm not seeing that issue in the codepen I shared.

https://codepen.io/yowainwright/pen/c545e49133acf2d000f4bf8b1e7fa72a

I'm asking our qa team to look as well.

----

**Note:** I have not published to npm yes.
In your console, get the version on your stickbits.

[code]
Ensure that the version is `2.X`. If `version` is not defined, then the version is not `2.0.0`.

[2017-09-28 17:01] bakura10 commented on #108
I'm indeed using this version. If you give me your email I can try to send you access to the page.

[2017-09-28 17:06] yowainwright commented on #108
yowainwright@gmail.com

[2017-09-28 17:07] yowainwright commented on #108
@bakura10 the general functionality should be the same but v2 exposes a lot more of the API for better debugging, etc.

[2017-09-28 17:33] yowainwright commented on #108
@bakura10 okay, great news—better than even your question!

---

1. The issue in the example you shared is that Stickybits selected html element is **not** the first child of the parent. I will share more in an email to you directly.
2. You don't need any JS based on your example! If the `nav` is always at the top and only a `child` of the `<body>` you can use `position fixed` w/o any JavaScript!

[2017-09-28 17:35] bakura10 commented on #108
Awesome. Thanks a lot for your debugging!

Indeed, this one may be solved by using position fixed and offseting. The issue is that the height is not known (those are generic themes and we can't do any assumptions on elements size).

However there is another usage of the sticky (both top and bottom) inside the page, I'll share it with you by email.

[2017-09-28 18:05] rosivanov commented on #108
Confirm, this pen https://codepen.io/yowainwright/pen/c545e49133acf2d000f4bf8b1e7fa72a works fine in IE11
@yowainwright Brilliant support, thank you! :blush:

[2017-09-29 22:20] yowainwright commented on #108
Follow up with new issues/notes on the wiki or in issues! 🙏

[2017-09-29 22:20] #108 closed

[2017-09-29 22:23] yowainwright commented on #102
@massive done! Sorry for the wait. 👌

[2017-09-29 22:23] #102 closed

[2017-09-29 23:51] yowainwright commented on #95
@matthewmcvickar I updated the original Codepen here. I changed the order of the dom. https://codepen.io/yowainwright/pen/rGwqee

Stickybits 2.0 was just pushed. 🙏

Sorry for the wait. Let me know how I can help. ~Thanks

[2017-09-29 23:58] yowainwright commented on #96
@maxlapides I re-ordered the dom a little bit and added the new version.

https://codepen.io/yowainwright/pen/89d7ee21ce3d6bd8f5c06a7577ffda19/

Let me know if it helps!

~Thanks

[2017-09-30 00:04] yowainwright commented on #93
@hacknug Okay, I think stickybits 2.0 can help here.

Could you reach out to me to help out?

[2017-09-30 00:05] yowainwright commented on #85
Done with 2.0

[2017-09-30 00:05] #85 closed

[2017-09-30 00:05] hacknug commented on #93
@yowainwright here I am

[2017-09-30 00:06] yowainwright commented on #77
Done.

[code]

[2017-09-30 00:06] #77 closed

[2017-09-30 00:07] #96 closed

[2017-09-30 00:10] yowainwright commented on #76
I think this might be fixed ...?

I could use some help with the rest of these issues @donkeybonks ! 2.0 is out so it should be easy to debug and help!

Let me know if you have time!

~Thanks

[2017-09-30 01:28] yowainwright commented on #93
@hacknug saweet!

Okay, could make sure you're using Stickybits 2.0 on your dev site?
Then, instantiate Stickybits like this:
[code]
Once we get there, we can figure out how to update `stickyStart` and `stickyStop` (I think) 😜 ...or I will write a computed for those properties in Stickybits itself.

Here's an example for reference: https://codepen.io/yowainwright/pen/veZVPv

~Thanks

[2017-09-30 05:59] jg opened #118 "Library not working (IE11)"
Went through a few of examples on the website [1], none of them work in IE11. The library itself isn't working there either, tried it in a separate project.

IE 11.0.9600.18792

[1] https://dollarshaveclub.github.io/stickybits/

[2017-09-30 06:27] yowainwright commented on #118
@jg The landing pages uses an older version of Stickybits. I will update that soon.

I tested most of the demos in IE. Could you share errors? Or console.logs? Or screen shots?

[code]
Thanks for the note! 🙏

[2017-09-30 07:50] jg commented on #118
For a simple test case i forked your basic example from the site & copied over the src/stickybits.js code from github there, see [1]. It works in chrome, doesn't work in IE11. No errors in IE11 console

[1] https://codepen.io/anon/pen/EwXrdw

[2017-09-30 09:45] yowainwright commented on #118
`src/stickybits.js` has ES6—which won't work in IE.

I just tested again in IE again and the example I looked at—worked.

Have you tried using a `dist` version of Stickybits?

[2017-09-30 10:10] jg commented on #118
I updated the codepen to use the dist version now. Same thing happens in IE11 @ browserstack & locally. Chrome/firefox still working fine.

Can you confirm the codepen below uses the library correctly?

https://codepen.io/anon/pen/EwXrdw

[2017-10-02 06:26] yowainwright commented on #118
@jp you were right. Thank you so much!

There was a Rollup Babel transpilation issue.

I'm fixing it now. In the meantime, you could use an older version of the plugin.

[2017-10-02 07:33] yowainwright commented on #118
@jg I'm updating all of the examples right now. Thanks!

~ The landing page will come tomorrow.

[2017-10-02 07:33] #118 closed

[2017-10-03 11:14] Inayat-C opened #120 "A destroy function to stop running the script?"
Hi,

First of all, thank you very much for your efforts in creating & maintaining this library, it works very well.

My issue is probably more of a request rather an issue with the library, but i was wondering if there is currently a way to stop running the script under certain conditions.

For example, i call stickybits() when my window size > 960.

I then have a resize event which i would like t

[2017-10-03 13:51] paolomoretti commented on #95
+1

[2017-10-03 21:28] matthewmcvickar commented on #95
@yowainwright Wooo!! Thank you so much! That test Codepen looks good to me. Can we call this issue closed, or is #100 the same bug?

[2017-10-04 02:52] yowainwright commented on #120
Hey @Inayat-C!

Thanks!

There is a method that does that. It is called `.remove()`. There is an example with a live codepen link in the `readme`.

[2017-10-04 05:33] yowainwright commented on #95
@matthewmcvickar thanks for following up!

[2017-10-04 05:33] #95 closed

[2017-10-04 10:18] Inayat-C commented on #120
Hi,

did you mean `.cleanup()`? as i can't find an instance of `.remove()`.

[2017-10-04 15:54] yowainwright commented on #120
@Inayat-C yes!

Thanks for correcting me! 😊

Please close this issue if we’ve resolved your question!

[2017-10-04 16:18] pitAlex opened #122 "scrollEl option not working in the latest version"
Hi,

In the latest vesion(2.02) the scrollEl option is broken. I've inspected the code and it looks like in some areas its expected as a string while in others its expected as a dom element. Also I've noticed se.requestAnimationFrame  and it should be window.requestAnimationFrame because this method is only available in the window object and se can be window or scrollEl

[2017-10-04 16:42] yowainwright commented on #122
Hey @pitAlex,

Thanks for your response!

I’m happy to work on this with you.😊

There are tests and examples for the `scrollEl` feature in this repo that communicate to me that the feature is working. Maybe I/we can update tests to catch your notes in this issue?

— 

### Quick thoughts

-  In regards to rAF, it is stubbed for when rAF is not supported—so that _should_ work. Does the stub not work

[2017-10-04 18:15] #120 closed

[2017-10-04 19:00] pitAlex commented on #122
Well I am using the npm version and spotted this in the dist/ scripts folder. All I did was:
Sticky(element, {scrollEl : document.querySelector('#scroller')});
and
Sticky(element, {scrollEl : '#scroller'});

both throw errors as soon as the page is loaded in a browser that does not support position:sticky.

And also you should start making tests in Samsung Internet Browser since they made this to

[2017-10-04 19:13] yowainwright commented on #122
@pitAlex okay, great to know (about Samsung)—perhaps you could help maintain that support?

I'm looking for a way to make sure I'm fully understanding your issue. 😬

Could we use [this example](https://codepen.io/yowainwright/pen/EXzJeb) pulled directly from the [readme](https://github.com/dollarshaveclub/stickybits/blob/master/README.md) to normalize what we're discussing?

To further normalize o

[2017-10-04 21:29] kapouer opened #123 "parentClass is always applied"
Setting parentClass to null or to empty string or false (your choice) should prevent stickybits from adding a class to the parent node [here](https://github.com/dollarshaveclub/stickybits/blob/72f3ece89320263b65bd1bf769a23d74ab03586c/src/stickybits.js#L60).

[2017-10-04 21:37] yowainwright commented on #123
@kapouer to make sure I'm clear on the issue—what happens when you add an empty string?

[code]

Also, why is the CSS class an issue?

~Thanks!

[2017-10-04 21:41] kapouer commented on #123
I'm doing
[code]
and document.body gets ` js-stickybit-parent`.
It's a minor bug, but a bug nonetheless. It pollutes attributes for no reason.

[2017-10-04 21:43] yowainwright commented on #123
@kapouer that is interesting. I will look into it ASAP. 🙏

[2017-10-04 21:46] kapouer opened #124 "isSticky stays true even if i scroll back to the top"
The sticky is at
```<body><div class="stickit"></div>...</body>```
If i scroll down, stickyClass is added to the dom node.
However if i scroll back to the top, the class is not removed because of the test at:
https://github.com/dollarshaveclub/stickybits/blob/72f3ece89320263b65bd1bf769a23d74ab03586c/src/stickybits.js#L269

[2017-10-04 22:06] yowainwright commented on #124
@kapouer could you provide an example to reference? ...So we can work on this together.

~Thanks!

[2017-10-04 22:35] kapouer commented on #124
https://codepen.io/kapouer/pen/yzPWXG
I realized it's not only a matter of being the first child or not.

[2017-10-04 23:14] yowainwright commented on #123
Added to [quirks](https://github.com/dollarshaveclub/stickybits/wiki/Quirks). 🙏

[2017-10-04 23:14] #123 closed

[2017-10-05 00:50] #124 closed

[2017-10-05 06:57] yowainwright commented on #76
Closing. ~Thanks

[2017-10-05 06:57] #76 closed

[2017-10-05 06:58] #74 closed

[2017-10-05 06:59] yowainwright commented on #74
Closing. ~Thanks. I will be following up with this @ #93.

[2017-10-05 07:01] yowainwright commented on #100
@panoply Thank you! I'll review what you've done ASAP. 🙏

[2017-10-05 07:02] yowainwright commented on #93
@hacknug I'm following up with this ticket @ #100

[2017-10-05 07:02] #93 closed

[2017-10-05 07:02] #104 closed

[2017-10-05 07:03] yowainwright commented on #104
This issue has been fixed according to tests. Please confirm with codepens otherwise. ~Thanks!

[2017-10-05 22:30] yowainwright commented on #105
@yaodingyd what do you think?

https://github.com/dollarshaveclub/stickybits/wiki/Understanding-Stickybits-and-Position-Sticky

[2017-10-06 00:52] yaodingyd commented on #105
@yowainwright LGTM. Thank you!

[2017-10-06 06:29] yowainwright commented on #105
Thanks @yaodingyd

[2017-10-06 06:29] #105 closed

[2017-10-09 19:58] pitAlex commented on #122
Yea sorry, I copied it from my code where I assigned stickybits to "Sticky". I had as you said,  but then switched to constructor when I was looking in the source code and starting doing debugging for the scrollEl.
Now for the requestAnimationFrame. Its checked against "se" which is not always the window, thats the mistake. Support should be checked against the window.

[2017-10-10 20:52] yowainwright commented on #122
@pitAlex

[code]

Thoughts?

[2017-10-11 11:49] oussa opened #131 "jumpy on IE, should be smooth and provide a fake vertical space on the DOM"
Hello,

When trying the [official demo](https://dollarshaveclub.github.io/stickybits/) on IE, and scrolling very slowly, you can notice that when the nav moves from the _original position_ to _fixed to top_, it doesn't provide a fake space on the DOM to cover for its disappearance, consequently causing the _weird jump_.

To explain further this is how it looks like just before scrolling a little b

[2017-10-11 14:54] oussa opened #132 "add possibility to update the parent's height (the stop parameter) after instance creation"
Hello,

When I first used stickybits, I spent a lot of time trying to figure out why does the switch from `is-sticky` to `is-stuck` happen before reaching the parent's end.

After some investigation, I found out that the cause is that the parent in my case contains images that were not loaded yet, causing a fake **much smaller height** for the parent, and which once loaded completely would cause t

[2017-10-11 17:06] yowainwright commented on #132
@oussa thanks for you insight!

The API can account for that but I'm yet to do a demo. I'm going to close this ticket as it will be documented in issue #100

~Thanks again 🙏

[2017-10-11 17:06] #132 closed

[2017-10-11 17:09] yowainwright commented on #131
Which version of IE?

I don't see the problem in the screen captures provided. Perhaps you could provide an animated gif?

~Thanks

[2017-10-11 17:35] oussa commented on #131
IE11 on Win7, tried it on BrowserStack first, and then to make sure it's not just my eyes or the frame-rate, I tried it locally. Here is an animated GIF with the problem.

![stickybits-issue-ie11-win7](https://user-images.githubusercontent.com/4229227/31456446-16eacc1c-aeba-11e7-9d01-54302a7ed88b.gif)

[2017-10-11 18:19] yowainwright commented on #131
@oussa Would you like to fix that?

If not—I'm going to close this issue. ~Thanks!

[2017-10-17 17:45] yowainwright commented on #131
@oussa if you want to fix what you've noted go ahead and open this issue back up! ~Thanks!!!

[2017-10-17 17:45] #131 closed

[2017-10-17 17:45] #122 closed

[2017-10-17 20:34] thorn0 opened #138 "Native rAF is never used"
An excerpt from the current code:
[code]
It should be `=== 'undefined'`, not `!==`. And `se` doesn't have to be `window`. Why get rAF from it?

Also what exactly is the `getClosestParent` method supposed to do? Now it does just `querySelector` + some traversing whose results aren't used:
[code]

[2017-10-17 20:40] yowainwright commented on #138
Thanks for your comments. Feel free to PR.

[2017-10-19 06:54] #138 closed

[2017-10-22 19:30] EmilStenstrom opened #143 "Workaround for Firefox not supporting position: sticky on table elements"
[Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=975644) does not support position: sticky on table elements. But there is nothing in stickybits to prevent this, so calling stickybits("thead th") looks like it works (all th:s get position: sticky), it just doesn't work when scrolling.

Are you open to adding a fix for this in stickybits?

I can think of two ways of doing this:
* Detecting th

[2017-10-23 05:44] yowainwright commented on #143
@EmilStenstrom thanks for your detailed question!

I don't think Stickybits should supply actual code to protect against elements, like `<table>` elements not working in Firefox. Adding features like that would cause the KB size of Stickybits to grow a lot. It would lead to unexpected other issues (fix one thing and break another). It would make the code less readable.

I think a solution would be

[2017-10-23 05:58] EmilStenstrom commented on #143
Hi! Thank for a quick reply! I've played around with display settings to work around the issues. The problem is that other issues pop up instead:

The trick I found used `tbody, thead tr { display: table }` and `thead { display: block; position: sticky; top 0}`. This works, but disconnects the thead from the tbody, so the table heading gets disconnected from the generated width of the actual conte

[2017-10-24 22:59] yowainwright commented on #143
@EmilStenstrom thanks for thoughtful response!

Could you supply a code example?

Maybe I/you/someone can make it work and then add your notes to the wiki ...?

~Thanks again

[2017-10-26 16:27] cmegown opened #145 "Angular: useStickyClasses not working in project"
I'm trying to implement this (v2.0.8) in an Angular project, currently using a slightly modified version of [this directive](https://pastebin.com/wLgDd1Rn).

There are a few issues I'm seeing:
- `useStickyClasses: true` is set but do not see the classes (`.js-is-sticky/stuck`) being applied in _any_ browser
- inline styles (`position: sticky; top: 0px;`) are being applied correctly in browsers lik

[2017-10-26 17:15] yowainwright commented on #145
-  The `useStickyClasses: true` [example](https://codepen.io/yowainwright/pen/NpzPGR) works so we're going to have to look into why it is not working in the code you shared. 😊
-  (bullets 2& 3) In IE, `position: fixed` is added when the element is actually sticky—not immediately.

Those things noted, can you provide an example so the community can see the issue and help?

~Thanks!

[2017-10-26 17:17] someguynamedmatt commented on #145
@cmegown Would it be possible to get a small snippet of your Angular template that you're using stickybits with?

[2017-10-26 18:11] cmegown commented on #145
Thanks for the rapid responses! I'll start working on a sample repo that best emulates the scenario I'm dealing with.

[2017-10-26 23:06] iamdubx opened #146 "Why Vertical Layout Positioning at the Bottom is so weird?"
I want to stick element at the bottom of the screen at `1em`.
This code from Docs doesn't do anything, literally `stickybits('.bit', {verticalPosition: 'bottom'})`

Then I found example on that page, that has ugly `style.top` calculation on every load.

Am I getting right - it is impossible to have `bottom: 1em` positioning with `stickybits`?

[2017-10-26 23:18] yowainwright commented on #146
@iamdubx Stickybits contributors are open to a better solution to the example provided. 😊

Since the comments above do not define a problem—only opinions, this issue is being closed.

Feel free to provide a PR if you come up with one.

~Thank you!

[2017-10-26 23:18] #146 closed

[2017-10-26 23:25] iamdubx commented on #146
@yowainwright sorry, I didn't meant to offend anyone. I just trying to figure out how to use it? Never used `sticky` feature before, and it turns unexpectedly difficult to achieve such trivial task.

[2017-10-29 01:34] yowainwright commented on #143
@EmilStenstrom Here's a codepen. It looks like it works in Firefox. What are you seeing?

I'm totally open to misunderstanding something! ~Thanks

[2017-10-29 09:23] EmilStenstrom commented on #143
@yowainwright Thanks for making an example, makes it much easier to talk about. As you have noticed, if you change an element from `display: table` to `display: block` (as you have with .child), it works in Firefox. Problem is, when you do that, that element stops behaving like a table element. Try adding another `<th>` to your example. Since it is `display: block` it gets rendered below the other

[2017-10-29 17:58] EmilStenstrom commented on #143
Here's a sample page: https://codepen.io/EmilStenstrom/pen/QOWzgv - as soon as you change the display property of the th cells you break the whole table...

[2017-10-30 02:03] yowainwright commented on #143
@EmilStenstrom I don't see this as a Stickybits issue—this issue will present itself with vanilla CSS and HTML. The original codepen that was posted shows that table elements can be worked around with Stickybits.

I appreciate the time that has been put into this issue. Now anyone that runs into a similar use case can find this issue and decide what to do—use Stickybits and change the `<td>` eleme

[2017-10-30 02:03] #143 closed

[2017-10-30 06:19] EmilStenstrom commented on #143
Thank you for taking the time to consider this!

[2017-10-30 20:31] yowainwright commented on #143
@EmilStenstrom 🙌

[2017-10-31 16:49] AoDev commented on #145
Hello, I also don't have the classes working. It's a pure React app.
I am implementing a listview component, similar to the ones in mobiles. (screenshot at the bottom)

The code, simplified, is like this:

- I have a wrapper that iterates over an array to create a list with sections and headers.
- the headers  should be sticky when scrolling.
- the parent is not the window, but can be any element

[2017-10-31 17:23] AoDev commented on #145
I have created this repo where I have the problem:
https://github.com/AoDev/stickybits-test-case

I have tried to remove unrelated code to this issue as much as possible.

[2017-10-31 20:32] yowainwright commented on #145
@AoDev thanks! I will look as soon as I can. 👍

[2017-10-31 21:15] AoDev commented on #145
Thank you. I forgot to mention something:
In this app, I've copy pasted stickybits code and it's importing it. [here](https://github.com/AoDev/stickybits-test-case/blob/master/client/ui-framework/components/ListView/Header.js#L3)

But the "original" stickybits is also in the dependencies and you can use it instead. I've just added a bunch of `console.log` in the code.

The original goal was to hav

[2017-11-06 18:13] yowainwright commented on #145
@donkeybonks @cyr-x could you provide an insight here in regards to Angular? 🙏

[2017-11-07 18:59] hacknug opened #150 "Minified files not updated to latest version"
As the title says, both minified files (vanilla and jQuery) haven't been updated to the latest current version (v2.0.9).

[2017-11-07 18:59] yowainwright commented on #150
@hacknug thanks, will work on this soon.

[2017-11-09 06:37] #150 closed

[2017-11-09 06:55] yowainwright commented on #150
@hacknug thanks again for pointing this out. Stickybits should be up-to-date.

[2017-11-12 10:31] dotmagic opened #156 "useStickyClasses without scroll event listener"
I would be awesome if you could set the sticky class with `IntersectionObserver` and using scroll event listener only as a fallback.

There's a well written article how to implement it:
https://developers.google.com/web/updates/2017/09/sticky-headers

Alle major Browsers support already `IntersectionObserver`. I think will take a look how to implement this next weekend:
https://caniuse.com/#feat=i

[2017-11-15 02:18] patrick-mcdougle commented on #156
FYI, IntersectionObserver doesn't quite help in edge cases like jump links. Something to consider. See https://github.com/w3c/IntersectionObserver/issues/258 for more info.

[2017-11-16 14:14] dotmagic commented on #156
@patrick-mcdougle Oh, I wasn't aware about it.
Anyway. It's still useful to have a option to enable IntersectionObserver support aslong ist disabled by default.

[2017-11-19 15:55] yowainwright commented on #156
@dotmagic have you done any hacking on this? No pressure! 😊 ...Just excited to see. Feel free to request reviews from me—if you're merging to your own repo, etc.

[2017-11-19 15:57] yowainwright commented on #145
@AoDev sorry, I haven't meant to leave you hanging—did you figure anything out?

If not, I can try to did into it a bit as time allows.

[2017-11-19 16:02] AoDev commented on #145
@yowainwright No worries. In the end I implemented what I needed from scratch. I haven't investigated more since then. The reason being that I couldn't figure out why the behaviour of `position:sticky` is to push further any other element having also the position: sticky. So I couldn't make them stack. I'll probably open source it if my company lets me. It's a React Component implementing a listvi

[2017-11-20 05:20] yowainwright commented on #145
@AoDev nice! If you do open source your project, let me know and I'll share it in the Stickybits wiki as another option.

[2017-11-21 17:10] serhiyzablotskiy opened #159 "Options `useStickyClasses` and `stickyBitStickyOffset` work wrong"
When I use `useStickyClasses` and `stickyBitStickyOffset` options together `stuckClass` is not added correctly:

When I changed
` it.offset = scrollElOffset + p.stickyBitStickyOffset;`
to
` it.offset = scrollElOffset - p.stickyBitStickyOffset;`
here
[code]
it starts work.

[2017-11-21 17:41] rosivanov commented on #66
Hi all! For IE when sticky element is `position: fixed` i used
[code]
Looks like workaround however anybody knows better solution?

[2017-11-22 00:41] yowainwright commented on #156
@dotmagic if you're going to work on this—re-open the issue. ~Thanks!!!

[2017-11-22 00:41] #156 closed

[2017-11-22 00:42] yowainwright commented on #159
@serhiyzablotskiy thank you!!! I will look at your comments as soon as I can! 🙏

[2017-11-22 05:03] rosivanov opened #160 "IE11 Option `stickyBitStickyOffset`"
case: IE11 + `stickyBitStickyOffset`
pen: https://codepen.io/yowainwright/pen/YQZPqR
gif:
![bandicam-2017-11-22-04-46-46-394](https://user-images.githubusercontent.com/8172473/33110653-06b21824-cf52-11e7-9794-2aab96b99dfb.gif)

When the viewport top edge reaches `.main` , `.child` jumping 20px bottom.
I appreciate if you can conside this case.

[2017-11-22 10:37] dotmagic commented on #156
@yowainwright Sorry for late reply. Yes, I won't have time for the next 3 months.

[2017-11-22 11:22] serhiyzablotskiy commented on #159
Here is pull request to fix this: https://github.com/dollarshaveclub/stickybits/pull/161

[2017-11-23 19:13] yowainwright commented on #160
I will look into this asap @rosivanov.

[2017-11-23 19:22] rosivanov commented on #160
@yowainwright thanks

[2017-11-23 19:28] rosivanov commented on #160
@yowainwright Yes generally it works. CRs what is this ?

[2017-11-23 19:55] yowainwright commented on #160
@rosivanov my mistake—"CRs" = Code Reviews. ☺️

[2017-11-23 19:55] #160 closed

[2017-11-23 20:00] rosivanov commented on #160
@yowainwright Okay, will try to figure out something.

[2017-11-23 20:06] yowainwright commented on #160
@rosivanov in my opinion, if it is a big deal for your use-case in IE 11, I would write something custom. There will/would be a lot of extra code to seek perfection in each older browser and this would simultaneously decrease quality in newer browsers and **other** older browsers. 🙌

[2017-11-23 22:52] rosivanov commented on #160
@yowainwright Thanks, it is not criticat case so i don't want waste your precious time :wink:

[2017-12-01 14:02] jnachtigall opened #169 "Shrinked header support: Add a `shrinkedHeaderCSSClass` for `useStickyClasses`?"
For adding a shrinked header, that is a header that get reduced in height (could a an css animation), it would be great if a `js-is-shrinked` css class could be added.

At the moment there is `js-is-sticky` but this is added immediately, whereas for `js-is-shrinked` the css class would only be added after a certain `top` offset is passed. This would allow for nice (reduce/increase) header height a

[2017-12-06 06:40] #159 closed

[2017-12-06 06:45] yowainwright commented on #169
@jnachtigall thanks for your thoughtful insight!

I think the feature above steps a bit too far outside of what the plugin is supposed to do.

That stated, it would definitely be a fun Codepen that I would like to see! If you make a Codepen with that feature or build off of what's there for Stickbybits to make a similar feature—I'd love to add it to our Wiki.

~Thanks!

[2017-12-06 06:45] #169 closed

[2017-12-06 09:11] dotmagic opened #171 "Changelog"
Could you please update the Changelog.md?

[2017-12-06 16:28] ajithbhat opened #173 "Element doesn't stick when html overflow-x is set to hidden"
Hello,
We have a scenerio where overflow-x is set to hidden (line 4) on HTML tag of the page. With this being set, stickybits doesn't work. I have created a Pen on CodePen to demonstrate this.

https://codepen.io/ajithbhat/pen/GOaqww

If, overflow-x is removed on the HTML tag, it works.

[2017-12-06 17:52] julianxhokaxhiu opened #174 "Elements with 'verticalPosition: bottom' are not behaving correctly when the end of the page is reached"
Hi.

I was inspecting your source code and I found that actually all your calculations are made on top of the 'top' logic, although you offer the possibility to use the 'bottom' part, actually even elements with
[code]
will not remove the CSS properties or classes, once the bottom of the page is reached.

Demo: https://jsfiddle.net/5ofg0cgf/

Real world example: https://mercedes-benz.io/en/

Thank

[2017-12-06 18:01] yowainwright commented on #173
Hello @ajithbhat! Thanks for your issue. ☺️
- Note this issue within the [W3C Spec](https://github.com/w3c/csswg-drafts/issues/865)

[2017-12-06 18:01] #173 closed

[2017-12-06 18:03] yowainwright commented on #174
@julianxhokaxhiu Thanks for filing an issue. I will look into this as soon as possible.

[2017-12-06 18:04] yowainwright commented on #171
@dotmagic could you help me out? 🙏

[2017-12-06 18:28] dotmagic commented on #171
@yowainwright Mmmm? It's just adding the changes from git history. I think you're the one who knows best what happened between the releases?

[2017-12-06 18:31] yowainwright commented on #171
@dotmagic so you don't want to help out? I assume you can look at history and commit comments.

[2017-12-06 18:43] dotmagic commented on #171
Haha, I just did and its slightly confusing. It seems the only changes between 2.0.6 -> 2.0.13 was:
* 2.0.7 Add es-check
* 2.0.13 Fix markdown issue in README.

The other releases just bump the version!? Am I missing something? You really want me to create a pull request for that?

[2017-12-06 19:11] yowainwright commented on #171
Yes please!

I'm not trying to sound rude. I would just like help.

I would like to automate the `changelog.md`. If you would like to do that = event better!!!

~Thanks again

[2017-12-06 19:20] yowainwright commented on #171
@dotmagic SORRY! I will update this changelog. If you would like to PR to automate a changelog that would be awesome.

[2017-12-06 20:55] #171 closed

[2017-12-07 14:24] jnachtigall commented on #169
@yowainwright Good idea, I can add a codepen, actually I just started doing so... But it would be great if you could add stickybits to cdnjs.com See https://stackoverflow.com/questions/44981404/how-do-i-upload-to-cdnjs#44981554 for how this can be done (I think it's better if you do it, since you are the maintainer). This would make it just easier to create the codepen (and would have other benefi

[2017-12-07 14:28] jnachtigall commented on #171
@yowainwright Sorry, I cannot help here, but for automating the changelog generation you can use https://www.npmjs.com/package/release-it which does this among other things. It does not look difficult to setup, but I guess one needs npmjs and github permissions to actually do it.

[2017-12-14 14:17] jrrdnx commented on #174
I'm experiencing the same issue on IE11 and Edge16.

The element does not become stuck until the user starts scrolling (should be immediately) and once the element's bottom has reached it's normal position, `position: fixed;` is not removed (remains stuck after it should be).

[2017-12-14 22:49] yowainwright commented on #174
@jrrdnx thanks for noting this! I will work on this issue asap—or if you would like to submit a PR I will look.

I think the issue is here:

https://github.com/dollarshaveclub/stickybits/blob/master/src/stickybits.js#L203

I think there may have been a change recently which may have messed that up. Could you look at the history and confirm?

Perhaps try the 2nd last release in IE?
https://gist.git

[2017-12-16 17:06] julianxhokaxhiu commented on #174
Hi @yowainwright,

actually in the JSFiddle there is `2.0.13` being used, as well as on the PROD website.

Which release do you mean?

[2017-12-17 05:49] yowainwright commented on #174
@julianxhokaxhiu thanks for asking for clarification! 😬

The release where the offset change was made was [here](https://github.com/dollarshaveclub/stickybits/commit/c347303667e22c951ea707eafb97244b9e21d9e1#diff-b9cfc7f2cdf78a7f4b91a753d10865a2). (`version 2.0.12`)

I will work on it today/tomorrow if possible. 👌

[2017-12-17 14:27] julianxhokaxhiu commented on #174
Thanks for the clarification :) Looking forward for the magic to happen! 🧙

[2017-12-20 11:38] stanza237 commented on #100
I think that my problem is related to this thread: when opening page with an anchor (not at top 0) sticky class is not applied (earlier version 2.0.13 was applying it). Then when page is scrolled the class is applied, but then when page is at "top 0" it isn't removed, that is what i need

[2017-12-22 13:47] jnachtigall opened #183 "Adding stickybits to a CDN, e.g. cdnjs.com?"
Hey, Spin-off of https://github.com/dollarshaveclub/stickybits/issues/169#issuecomment-349981530 ;)

It would be great if stickybits was on cdnjs.com See https://stackoverflow.com/questions/44981404/how-do-i-upload-to-cdnjs#44981554 for how this can be done (I think it's better if you do it, since you are the maintainer). This would make it just easier to create codepen and other examples (and wou

[2017-12-22 21:44] etiennejcharles opened #184 "Do you know why it sticks up so soon on ie 11?"
Hey there! Thank you guys for such an amazing polyfill!

I was curious to know, if you had an idea why it sticks up the moment I scroll on the page **on ie 11**, I expected it to wait until I arrived on the element!

http://138.197.158.15/history

Please let me me know if you have an idea! There's probably something I missed.
I simply used the plugin like so :

[code]

Thank you again the the amaz

[2017-12-24 05:35] yowainwright commented on #184
@etiennejcharles I'll look asap! It might not be an issue on the website you shared's end. 😊

There were some updated [here](https://github.com/dollarshaveclub/stickybits/issues/160) that may need some tweaking in a slightly different way.

Thanks for letting me know!

[2018-01-04 15:57] ajithbhat commented on #100
I had the same issue. To resolve this I had to create a function to calculate offsetTop

`var getOffsetTop = function getOffsetTop(elem) {
  var offsetTop = 0;
  do {
    if (!isNaN(elem.offsetTop)) {
      offsetTop += elem.offsetTop;
    }
  } while (elem = elem.offsetParent);
  return offsetTop;
};`

And use the above method in computeScrollOffsets function:

Stickybits.prototype.computeScrollO

[2018-01-06 01:44] yowainwright commented on #183
@jnachtigall where is that example? 😃

There is work involved in adding a repository to CDNJS—CDNJS is a large repo and is maintained by other people that must take time to CR, etc. Scripts can be added in Codepens and then re-used elsewhere so I think that is an option. I leave the code within the Codepen so that people can debug the library.

If you'd like to own this issue (adding Stickybits to

[2018-01-07 01:17] yowainwright commented on #183
@jnachtigall we will see if this goes through. https://github.com/cdnjs/cdnjs/pull/12394

[2018-01-09 13:41] julianxhokaxhiu commented on #174
HI @yowainwright any update on this?

[2018-01-10 00:36] yowainwright commented on #174
@julianxhokaxhiu I will look as soon as I can. Sorry for the wait!

[2018-01-10 11:35] hacknug opened #188 "stickybits.cleanup() not working correctly?"
I'm using stikybits on a new website and I need to make sure it only applies the `position` and `top` properties when on a given breakpoint.

I've seen there's an example to the cleanup method (https://codepen.io/yowainwright/pen/gRgdep), the problem with this is that you're using a class selector that has no elements on the document that match (`.child-1`). The selector should be `.child` instead

[2018-01-10 17:56] yowainwright commented on #188
@hacknug would you like to try and resolve the issue you're describing?

[2018-01-10 20:06] hacknug commented on #188
Sure! Will get back to you when I have something 😉

[2018-01-11 12:25] julianxhokaxhiu commented on #174
No chance yet?

[2018-01-11 17:31] hacknug commented on #188
@yowainwright done! I opened a PR in #191

[2018-01-16 07:02] yowainwright commented on #184
@etiennejcharles sorry for the delay!

The issue is that the stickybit needs to be wrapped in a parent element besides the document. Because the stickybit is not in a parent element when it is set to `postion: fixed` (AKA, in internet explorer) it looks for a parent which is the document.

Try something similar to this:

[code]

[2018-01-16 07:28] yowainwright commented on #174
@julianxhokaxhiu sorry, my friend—super busy—as I'm sure you are too. 😊

Thanks for the reminder! Done.

Best,

Jeff

[2018-01-16 09:38] julianxhokaxhiu commented on #174
Hi,

thank you very much for the update on NPM, but actually the issue seems not be fixed ( using 2.1.1 currently ).

You can preview the issue with the new library on top here:
https://jsfiddle.net/h1514ow7/1/

Any idea? Am I missing something? Did a test also on our full website, and yet the same issue.

Best regards,
Julian

[2018-01-16 19:00] yowainwright commented on #174
@julianxhokaxhiu thanks for your feedback. Please submit a pull request fixes.

[2018-01-17 08:38] julianxhokaxhiu commented on #174
I am actually trying to forge a PR that make sense and doesn't break the whole logic. I'm doing my best to patch it but it feels some logic is rather complicated to be handled, in the current shape of the code.

I would personally use an OOP oriented way, where I would encapsulate in a Class the single representation for top or bottom, and then expose an interface that is common for any kind if ty

[2018-01-17 16:59] jquimera opened #195 "Sticky nav inside on "header element", do not works."
I'm trying to use Stickybits this way. But it's not working. Example below.

[code]

[2018-01-17 22:20] yowainwright commented on #195
Hey @jquimera could you provide an example in a codepen?

[2018-01-17 23:04] yowainwright commented on #174
@julianxhokaxhiu what you wrote doesn't read like a rewrite. It reads like adding `computeStickyStart` and `computeStickyStop` to the established Stickybit prototype. I'm happy to read/help with that PR. 😃

[2018-01-17 23:53] KyleVassella opened #196 "Any way to make this work with overflow: auto; ?"
I have a main theme `<div>` that has a style of `overflow: auto;` (and sometimes `overflow: hidden;`) that I can't make changes to.

Deep within this `<div style="overflow:auto;">` I have a `<nav>` element which I'm trying to make sticky w/ an offset of 100px. It doesn't work unless I change the aforementioned `<div>` to `overflow: visible;`

Can I keep this great great grandparent `<div>` set to

[2018-01-18 00:54] jquimera commented on #195
yes, here: https://codepen.io/johnquimera/pen/EoOKoJ

[2018-01-18 02:39] yowainwright commented on #196
@KyleVassella please [checkout](https://github.com/dollarshaveclub/stickybits/issues/173) this issue. Thanks!

---

https://github.com/dollarshaveclub/stickybits/issues/173

[2018-01-18 02:39] #196 closed

[2018-01-18 02:53] yowainwright commented on #195
@jquimera it doesn't have to do with the header element. It has to do with the way `position: sticky` works. 😊

https://codepen.io/yowainwright/pen/OzaRbe

[2018-01-18 02:53] #195 closed

[2018-01-18 14:37] jquimera commented on #195
@yowainwright I understand, I wanted the "nav" inside the "header"

[2018-01-18 15:03] hacknug commented on #195
@jquimera then you should probably make the whole header sticky. Remember that sticky-positioned items only get stuck inside their parent.

[2018-01-18 21:22] ggedde opened #197 "useStickyClasses False still adding classes"
Using
`stickybits('.sticky');`
Or
`stickybits('.sticky', { useStickyClasses: false });`
Still adds classes and changes classes when scrolling.

This is happening on Mac Chrome (63.0.3239.132)
It is not happening on FireFox.

Using @version v2.1.1

[2018-01-18 21:40] yowainwright commented on #197
@ggedde darnit. Could you supply a codepen or url? ~Thanks

[2018-01-18 21:46] ggedde commented on #197
Here you go:
https://codepen.io/anon/pen/aEPbXm

[2018-01-19 01:30] yowainwright commented on #197
@ggedde darnit. That is no fun 😔. I will look into this as soon as I can.

[2018-01-19 01:31] ggedde commented on #197
@yowainwright
No worries.
Thanks

[2018-01-19 11:20] hacknug commented on #197
I'm pretty sure I introduced this bug with my fix for the `cleanup` method. I'm gonna try to take a look at it now and will open a PR once it's done 😃

[2018-01-19 12:22] hacknug commented on #197
@ggedde take a look at #198 and let me know if this fixes it for you without introducing any new issues lol

[2018-01-20 22:41] yowainwright commented on #184
@etiennejcharles closing this. Reach out if I can help with anything else. 👋

[2018-01-20 22:41] #184 closed

[2018-01-25 13:28] DanielRuf commented on #183
unpkg should already deliver them ;-)

[2018-01-25 13:31] DanielRuf commented on #42
Still, both classes are not applied here on our side.

[2018-01-25 14:00] DanielRuf commented on #42
It seems we have to define `scrollEl` as many elements do not bubble up the scrolle event to the window object by default.

[2018-01-25 14:20] DanielRuf opened #203 "wrong documentation for scrollEl"
`scrollEl` has to be a selector, not a nodelist or object

[2018-01-25 15:00] DanielRuf commented on #203
Also this does not trigger the scroll eventlistener.

There are some inconsistencies when using a selector.

See https://codepen.io/DanielRuf/pen/mpZXXX
https://codepen.io/DanielRuf/pen/ZvdxJL

I'll try to find the cause. So far the calculation is not working as it seems.

[2018-01-25 17:37] yowainwright commented on #197
@ggedde thanks for catching this. This should be fixed. I will do visual checks today, close this issue and publish.

[2018-01-25 23:06] DanielRuf opened #204 "scroll listener not triggered when setting scrollEl"
This does not trigger the scroll eventlistener.

There are some inconsistencies when using a selector.

See https://codepen.io/DanielRuf/pen/mpZXXX
https://codepen.io/DanielRuf/pen/ZvdxJL

I'll try to find the cause. So far the calculation is not working as it seems.

[2018-01-25 23:15] DanielRuf opened #207 "bower is dead"
Remove bower support and documentatin instructions for bower.

[2018-01-25 23:30] DanielRuf opened #208 "support Umbrella JS"
https://github.com/franciscop/umbrella

[2018-01-25 23:46] DanielRuf commented on #183
https://unpkg.com/stickybits@2.1.1/dist/stickybits.js
https://unpkg.com/stickybits@2.1.1/dist/stickybits.min.js
https://unpkg.com/stickybits@2.1.1/dist/jquery.stickybits.js
https://unpkg.com/stickybits@2.1.1/dist/jquery.stickybits.min.js

[2018-01-26 09:34] DanielRuf opened #212 "build task fails when running it for the first time"
The unresolved promises prevent the build when running the build task for the first time or when the tmp directory is deleted.

<details>
<summary>error log</summary>
[09:48:26] Using gulpfile ~/projects/stickybits/gulpfile.js
[09:48:26] Starting 'generate:version'...
[09:48:26] Finished 'generate:version' after 7.98 ms
[09:48:26] Starting 'generate:copy'...
[09:48:26] Finished 'generate:copy' aft

[2018-01-27 21:48] dackmin commented on #100
@yowainwright I'm also having the issue with `2.0.13`, only by refreshing a normal page at a non-zero scroll position, and I can replicate it using the `useStickyClasses` example provided in the `README` (https://codepen.io/yowainwright/pen/NpzPGR).

If you scroll enough only to have `child` items in viewport, they will correctly have a `js-is-stuck` class applied :

<img width="970" src="https://

[2018-01-28 01:50] #203 closed

[2018-01-28 01:52] #208 closed

[2018-01-28 01:53] #212 closed

[2018-01-29 19:04] hacknug opened #213 "Trigger events when swapping sticky/stuck classes"
I think it would be useful to have Stickybits trigger its own events when it changes between the sticky/stuck classes. This way we could listen to them and trigger our own logic based on that.

Is this something that's already possible? Would this be useful to anyone else?

[2018-01-30 03:04] #204 closed

[2018-01-30 07:45] DanielRuf opened #215 "no package-lock.json but yarn.lock"
So far there is only a lockfile for yarn. The package-lock.json is ignored. Do we need this and should we maintain both?

[2018-01-31 03:24] yowainwright commented on #213
I built a prototype of this and realized it was slightly more code for this plugin which I've tried to maintain as at **"utility"** plugin.

[2018-01-31 03:27] yowainwright commented on #188
@hacknug this is actually not an issue I don't think. 🎉

Stickybits will be done (no more code will be run 😃 ) after it has set `position: sticky` in browsers that support it. To your valid point, if you need to remove the position sticky class—use the `useStickyClasses` prop.

[2018-01-31 03:27] #188 closed

[2018-01-31 03:29] yowainwright commented on #183
Thanks @DanielRuf ! Also, https://github.com/cdnjs/cdnjs/pull/12409

[2018-01-31 03:29] #183 closed

[2018-01-31 03:29] #197 closed

[2018-01-31 03:39] #215 closed

[2018-01-31 03:53] #207 closed

[2018-01-31 14:13] jnachtigall commented on #183
@yowainwright Here's the demo for a Shrinked Sticky Header using stickybits: https://codepen.io/nachtigall/pen/GQJWLz I would be happy if you review (fork/edit) it and link to it from the stickybits docs or README.

[2018-01-31 19:04] ggedde commented on #197
@yowainwright
Thanks, It is working now.

[2018-02-01 01:48] yowainwright commented on #183
@jnachtigall thanks for the Codepen!

No need for jQuery or extra JS. https://codepen.io/yowainwright/pen/JpdVoX

[2018-02-02 10:03] hacknug commented on #188
I don't see why it seems like a good idea to force anyone to use `useStickyClasses` just so they can use the `cleanup()`method. I strongly believe instances should get saved regardless of the value of `useStickyClasses`.

Using this only forces Stickybits to execute unneeded and unrelated code to what someone should be trying to achieve affecting the site's overall performance (not a huge impact,

[2018-02-02 10:14] hacknug commented on #213
I'm all in for tiny plugins but I still believe this wouldn't add too much clutter and it would turn it into a much for useful utility. Let me know if you'd be open for a PR on this.

[2018-02-02 12:59] jnachtigall commented on #183
@yowainwright Well, depends on the use case. If you need to style anything *outside* of the sticky element when being sticky/shrinked than it is not sufficient to add a css class to just this element. That's why the original code adds a css class to `body`.

This use case is not so uncommon. Based on experience I'd say 50:50. In half the use cases (bigger sites) theres is also some kind of element

[2018-02-02 13:02] DanielRuf commented on #183
Personally I did it with vanilla JS in many projects in the past and it always worked. jQuery is just a framework.

[2018-02-02 18:42] yowainwright commented on #213
Okay, have a go! 👌

----

### Steps

- [ ] define event nomencalture
- [ ] write tests
- [ ] build feature
- [ ] update documentation
- [ ] add examples

----

### Shop talk

Below is a quick untested idea for how this could work.

**Here's a potential pattern:**
[code]

**Events could trigger actions like so:**
[code]

[2018-02-02 18:45] yowainwright commented on #145
@someguynamedmatt @majew7 I'm closing this b/c of inactivity.

[2018-02-02 18:45] #145 closed

[2018-02-04 00:16] w-biggs opened #223 "js-is-sticky is applied when sibling reaches top of page, not when sticky element actually sticks"
I've thrown some of my code into a codepen (sorry if it's a little messy):
https://codepen.io/anon/pen/eVZZEZ

What's happening is that `.headnav` gets applied with the `.js-is-sticky` class as soon as its sibling, `header`, reaches the top of the viewport. The intended result is that the class is applied when `.headnav` itself reaches the top of the viewport and is sticking.

Any clue why this ha

[2018-02-04 00:18] DanielRuf commented on #223
Used version: 3.0.1

[2018-02-05 12:44] DanielRuf commented on #86
It happens in IE 11 (again).

[2018-02-05 12:45] DanielRuf commented on #86
[code]

[2018-02-05 12:52] DanielRuf commented on #86
`document.querySelector('.template-default').getBoundingClientRect()` works and gives me the desired information.

[2018-02-05 13:15] matthijs-bakker opened #225 "Multiple instances example not working well in IE11"
Hi,

I noticed that the multiple instances example (as can be found here: https://codepen.io/yowainwright/pen/VPogaX) does not work well in IE11. The initial render is broke, after some scrolling everything seems to work fine.

Browser version: IE 11.125.16299.0
Screenshot of defect:

![image](https://user-images.githubusercontent.com/10942676/35806211-094010ba-0a7f-11e8-872a-829c574b17aa.png)

[2018-02-05 13:21] kmcaloon opened #226 "README reads 'stickbits' for some options instead of 'stickybits' in function name"
Seems like a typo. Just noticed that for the cleanup, nostyles, and custom css code references the function being used is 'stickbits'.

[2018-02-05 18:24] #226 closed

[2018-02-05 18:25] yowainwright commented on #223
@w-biggs did @DanielRuf's not help? 😊

[2018-02-05 20:23] DanielRuf commented on #223
I just added the information about which version the issue reporter uses so we can better track this. I thought we have an issue template but it seems we have none (might make debugging easier).

[2018-02-05 21:26] w-biggs commented on #223
Yeah, I'm using 3.0.1 already - sorry for not specifying.

[2018-02-06 09:12] DanielRuf commented on #86
Should we reopen this one here or create a new issue?

[2018-02-08 15:59] wolthers opened #228 "Demo broken in IE11 & 10"
https://codepen.io/yowainwright/pen/EXzJeb

Sidebar starts out as fixed
![image](https://user-images.githubusercontent.com/841834/35982956-497f49d8-0cf1-11e8-9555-0118f32812eb.png)

Also doesn't work if I remove the scrollEl option and remove overflow-y: on main.

Is there a way to "refresh"? Doing that after initial load would probably solve it.

[2018-02-08 16:21] wolthers commented on #228
Seems to be a problem with the ES module build. When i remove "module" from package.json so it uses `dist/stickybits.js` instead of `dist/stickybits.es.js` it works as expected on first load(?!)

[2018-02-08 16:31] DanielRuf commented on #228
Hm,  ight be because how root is created. Probably an issue with `isWin`?

[2018-02-08 18:21] yowainwright commented on #228
@wolthers @DanielRuf that means that issue was created in one of our last few versions (last week)—see the top of the readme for why.

The good news is that  fix should be a minor logic revision. The bad news is that I'm super busy working on other projects for the next week/2 weeks.

Can some take this issue?

[2018-02-08 18:22] yowainwright commented on #225
@matthijs-bakker feel free to look that this issue as well. I'm pretty busy for the next week/2 weeks. ~Thanks!

[2018-02-08 18:24] yowainwright commented on #223
@w-biggs @DanielRuf  I'm not saying that there is not a bug here but there is an issue with the setup in the codepen. Please review [this](https://developer.mozilla.org/en-US/docs/Web/CSS/position)—mainly `position: sticky`.

Sorry I won't be able to help here more for the next week/2 weeks.

~Thanks

[2018-02-08 18:36] DanielRuf commented on #228
No problem, I'll do a git bisect, triage and fix it.

[2018-02-08 18:38] wolthers commented on #228
Just to confirm - it works in 2.1.2. The demo I linked runs on 3.0.0 so it must have been introduced from 2.1.2 to 3.0.0

[2018-02-08 18:51] yowainwright commented on #228
@DanielRuf thanks! 🙏 I like the updates that were made (the ternaries).

It is probably just a minor logic tweak (hopefully).

[2018-02-08 19:55] DanielRuf commented on #228
Event with the normal version I see the issue.

[2018-02-08 23:14] DanielRuf commented on #228
There are multiple factors. First the main element which is not supported by default in IE11. Second a missing `querySelector` call. And third a wrong position calculation.

Attention, they do not use the same version.

[2018-02-08 23:30] DanielRuf commented on #228
@wolthers So far I can not get the demo working on IE11 with the 2.1.2 version using document.querySelector. Please provide a codepen where it works like you say.

[2018-02-08 23:45] DanielRuf commented on #86
I am not quite sure. A codepen or unit test for this might be useful.
Can anyone test it and check if https://github.com/dollarshaveclub/stickybits/pull/229/files#diff-eeeaf9f8acfd30c8c8b58939e77b1189R189 fixes this?

[2018-02-08 23:54] yowainwright commented on #86
My acceptance tests don't catch issues like this b/c of the setup. I should probably think through this issue deeper ...soon.

[2018-02-09 00:42] DanielRuf commented on #225
The issue here is that is initially always set to `fixed` but need to be the initial / default relative property value.

[2018-02-09 00:42] DanielRuf commented on #225
[code]

[2018-02-09 09:32] wolthers commented on #228
Can't get the demo to work in IE either.

What i wrote still holds true for me in my project. Just double checked. The `dist/stickybits.es.js` doesn't work but `dist/stickybits.js` does.

[2018-02-09 09:41] DanielRuf commented on #228
Take a look at the files and the version strings in there ;-)

[2018-02-09 09:42] DanielRuf commented on #228
Related: https://github.com/dollarshaveclub/stickybits/pull/229

[2018-02-09 20:01] w-biggs commented on #223
@yowainwright I see no issue with how the codepen is set up based on the specification found there - what am I missing?

[2018-02-09 20:05] yowainwright commented on #223
@w-biggs here you go. Sorry for the copy/paste job. This is right from this same [link](https://developer.mozilla.org/en-US/docs/Web/CSS/position) again. 😊 .

![position_-_css___mdn](https://user-images.githubusercontent.com/1074042/36047534-473c405e-0d91-11e8-9483-8189a63bcf07.jpg)

"containing block" is the key word. That is a confusing but important difference between `position: fixed` and `pos

[2018-02-09 20:12] w-biggs commented on #223
Ah okay, thanks. The spec is confusing - further down the page, it says that it switches when the element itself reaches the threshold (which is the behavior I'm seeing in-browser, but not by this plugin). I wonder if every browser is misinterpreting the spec in this case? Hm.

[2018-02-09 20:20] yowainwright commented on #223
@w-biggs thanks for your thoughts!

This issue has traversed to a non-stickybits issue so I'm closing it. 😊

----

For further demos check out other closed issues or [this page from the Stickybits wiki](https://github.com/dollarshaveclub/stickybits/wiki/Understanding-Stickybits-and-Position-Sticky).

[2018-02-09 20:20] #223 closed

[2018-02-10 11:52] DanielRuf commented on #100
It is because the initial calculation starts directly and just works when we start from the top. Scrolling and loading takes a while the autoatic scrolling is happening.

[2018-02-10 11:54] DanielRuf commented on #100
Same for websites where we do not use an anchor but a scroll position (simple F5 reload). We may have to investigate this further and write some unit tests to catch this.

[2018-02-10 11:58] DanielRuf commented on #213
Definitely a good idea. Or using an observer may be also a solution but only for modern browsers in general.

[2018-02-10 11:59] DanielRuf commented on #213
https://github.com/w3c/IntersectionObserver/blob/master/explainer.md
https://github.com/w3c/IntersectionObserver/tree/master/polyfill

[2018-02-10 21:10] yowainwright commented on #213
@DanielRuf let's do a simple version then! I hesitated from adding the intersectionObserver as I see these as a utility plugin to support potentially more "antique" 😁 browsers.

@hacknug are you going to go for it? ...Or maybe I can build the feature/tests and maybe you could do the demos? 😃

I think I could use events to support 2 other issues.

[2018-02-11 13:19] DanielRuf commented on #213
I guess this would be helpful in many scenarios.

Can we create a project and board to collect these issues and label the board with `custom events / event handlers`?

[2018-02-12 11:57] padarom opened #234 "Height changing sticky elements result in constant updates"
I need to build a header that shrinks in size (by removing some elements, shrinking the logo within the header, ...) when stuck, so that it doesn't use as much screen real estate.

In my example I change the height for `.js-is-sticky` from 100 pixels to 50px. When just starting to scroll and the element just receives the `.js-is-sticky` class, it starts to quickly jump back and forth between havin

[2018-02-12 20:48] hacknug commented on #213
@yowainwright I'll probably be able to take a look at this in a couple or three days as I am kinda busy with some projects where I'm not using Stickybits. If you prefer to do it yourself sooner, I'll take care of the demos once the work is done. Just let me know.

[2018-02-12 20:54] yowainwright commented on #213
Cool, I can do that and then you can do the demos. 🙌

[2018-02-13 02:19] yowainwright commented on #213
@DanielRuf yes, I'll do that right now.

[2018-02-13 04:48] yowainwright commented on #234
From what I understand, this could definitely be done and **not** with JavaScript—just html and css.

The issue with the end result in the demo (thanks for the thoughtful demo by the way! 😊) is the way the html and css is structured. If stucture of the html and css is re-worked, then the desired outcome can be achieved! 💪

[2018-02-13 04:51] #225 closed

[2018-02-13 04:58] yowainwright commented on #228
@wolthers @DanielRuf this starter issue should be fixed as of 3.0.3. ~THANKS AGAIN! 🙏

[2018-02-13 04:58] #228 closed

[2018-02-13 04:59] yowainwright commented on #86
@DanielRuf I think this is fixed as of version 3.0.3. ~Thanks! 🙏

[2018-02-13 04:59] #86 closed

[2018-02-13 05:00] yowainwright commented on #213
@DanielRuf see the new milestone.

[2018-02-13 05:02] yowainwright commented on #100
@DanielRuf I think events can be used to support _some_ of this issue.

[2018-02-13 05:03] yowainwright opened #236 "Add automatic changelog updater in npm"

[2018-02-13 05:40] DanielRuf commented on #213
Awesome, thanks =)

[2018-02-13 07:29] matthijs-bakker commented on #225
Great! Thanks @yowainwright

[2018-02-13 07:57] padarom commented on #234
Could you perhaps point me in the right direction on how to change my structure?

My use-case is a bit more complicated than what I linked, that's just the smallest possible example. For example I have up to two more elements that also need to be sticky, but underneath the (already sticky) main header. Pure HTML and CSS could potentially work with `position: sticky`, but then I'd need a polyfill f

[2018-02-13 11:51] enheit opened #237 "Property scrollEl doesn't work"
There is no possibility to use custom `scrollEl` the following issue is showing in the browser console.

`Uncaught DOMException: Failed to execute 'querySelector' on 'Document': '[object HTMLDivElement]' is not a valid selector.`

I suppose, after your commit https://github.com/dollarshaveclub/stickybits/commit/50d47c70e9c032298fd2e1f1f46c0de71c5250aa, you have added this line of code
https://gith

[2018-02-13 12:02] DanielRuf commented on #237
Seems so.

[2018-02-13 12:07] DanielRuf commented on #237
Please provide a codepen so we can test this.

[2018-02-13 12:34] enheit commented on #237
Here is an example hosted by codesandbox: https://codesandbox.io/s/y5k2oo0xx.
I found that this issue exist when `useStickyClasses: true`, otherwise everything works correct.

[2018-02-13 13:08] DanielRuf commented on #237
Mh, is this reproducible with normal setups and codepens using the latest version?

[2018-02-13 16:58] enheit commented on #237
@DanielRuf, I've created another example by using codepen: https://codepen.io/mahotskyi/pen/vdJGBR. Take a look when you will have a little time.

[2018-02-13 17:32] yowainwright commented on #237
@enheit Thank you for catching this!!!

[2018-02-13 17:36] #237 closed

[2018-02-14 06:01] yowainwright commented on #234
@padarom makes sense. This is a quick demo, https://codepen.io/yowainwright/pen/JpdVoX.

After closer inspection, I think with the event feature, Stickybits can provide better support.

[2018-02-25 21:52] yowainwright opened #246 "Separate helper functions out"
This will make for easier testing, better builds, and smaller file size.

---

- [x] separate files
- [ ] separate tests

[2018-02-26 00:04] #236 closed

[2018-02-26 17:03] adambant opened #252 "Help with my Stickybits not using scroll method correctly in IE11"
When page loads, sticky item immediately snaps to top of page not waiting for item to scroll to top of page. Also any offsets applied immediately get applied to component not waiting for component to reach top of page.

[2018-02-26 17:06] adambant commented on #252
Works fine in all browsers that support position:sticky, pretty much everything except IE browsers.

[2018-02-26 18:08] DanielRuf commented on #252
Please provide a codepen so we can test this better.

I guess there is still an issue with the scroll event listener.

[2018-02-26 19:17] adambant commented on #252
Ok after retesting, same behavior. Offset applied to component on page load, then upon any scroll action component snaps to top scroll sticky position. Using 3.1.1

Here is a simple codeine to illustrate what I am seeing on my actual page.
https://codepen.io/adambant/pen/EQdBJd

[2018-02-26 19:31] yowainwright commented on #252
@adambant thanks for taking the time to illustrate the issue you're seeing! 🙏

Please review, other [issues](https://github.com/dollarshaveclub/stickybits/issues?q=is%3Aissue+is%3Aclosed) where people noted similar problems. Also, check out this [page](https://github.com/dollarshaveclub/stickybits/wiki/Understanding-Stickybits-and-Position-Sticky) in the wiki.

~Thanks

[2018-02-26 19:48] adambant commented on #252
Hi yowainwright,

I have tried many combinations of parent element wrappers, letting <body> be the parent element, using immediate wrappers for parent element etc. Can't seem to get the expected behavior desired. I can fix the offset problem by removing the "position: relative" on the secNav div css. However component either immediately sticks to sticky position OR if I have it in a immediate pare

[2018-02-26 20:12] yowainwright commented on #252
@adambant I'm having a tough time following the comment above, unfortunately.

In this [codepen I forked](https://codepen.io/yowainwright/pen/Zrmzgp) from the one that was provided, I updated the dom in 1 place and override `position: sticky` to more easily see how `position: fixed` would look. It seems to work as expected.

[2018-02-26 20:33] adambant commented on #252
We need secNav menu to be sticky underneath the "someContent" not inside of it. Also I could have used two "fixed" positions if desired. But am looking for secNav menu to be under "someContent" then stick under main nav when scrolled to. But your example just fixes both menus to top of the page.

[2018-02-26 20:35] adambant commented on #252
Short version, if you load my codepen in Chrome/Safari/Firefox that is the expected behavior I want when running it in IE11/Edge.

[2018-02-26 21:33] yowainwright commented on #252
@adambant please review [`position: sticky`](https://developer.mozilla.org/en-US/docs/Web/CSS/position) on MDN, the [wiki page](https://github.com/dollarshaveclub/stickybits/wiki/Understanding-Stickybits-and-Position-Sticky) that was provided above, and [old Stickybits issues](https://github.com/dollarshaveclub/stickybits/issues?q=is%3Aissue+is%3Aclosed) where similar problems were reported.

**Ne

[2018-02-26 21:33] #252 closed

[2018-02-26 21:43] adambant commented on #252
I would expect Stickybits according to all documentation to properly toggle on and off the "position: fixed" when the item gets to the proper place on the page according to its scroll position. If it doesn't do this, then the plugin isn't any better than just using position:sticky and letting it fail or not work on the browsers that don't support it.

I.e. plugin adds no value to default browser b

[2018-02-26 21:58] DanielRuf commented on #252
IE11 does not support stiky so fixed is used there. There might be still issues with the calculation.

[2018-02-26 22:03] yowainwright commented on #252
@DanielRuf it is not in this case. It has to do with the dom structure that is being used—which I've tried to explain. 😔

[2018-02-26 22:05] DanielRuf commented on #252
I guess in this case it is the wrong parent selector as parameter or similar. At least this example differs from others which introduces other issues. Not yet 100% sure if bug or bad markup.

[2018-02-26 22:12] yowainwright commented on #252
@DanielRuf I reached out to you in a Twitter message. Thanks for helping to troubleshoot!

[2018-02-27 00:09] adambant commented on #252
`Stickybits.prototype.computeScrollOffsets = function computeScrollOffsets(item) {
  var it = item;
  var p = it.props;
  var parent = it.parent;
  var isCustom = !this.isWin && p.positionVal === 'fixed';
  var isBottom = p.verticalPosition !== 'bottom';
  var scrollElOffset = isCustom ? p.scrollEl.getBoundingClientRect().top : 0;
  var itScrollOffset = parseInt(it.el.getBoundingClientRect().top,

[2018-02-27 00:11] adambant commented on #252
I updated my CodePen with unminimized code and patched/hacked the computerScrollOffsets function with changed calcs. This might not work for 100% of use cases, e.g. where "bottom" is selected etc. But it works well for my use case which is better than it not working at all for my use case. If this helps pin down the specifics that is great.

[2018-02-27 00:14] adambant commented on #252
To note in my code change I did not have to add any extra html or parent wrapper classes etc. It works fine with the < body > tag as the parent container. Also I did test using a wrapper container around the entire contents of my page with the "scrollEl" option and it works ok too. Your results might vary.

[2018-02-27 17:00] thepedroferrari opened #253 "Can't use when body overflow-x: hidden"
Is there any way to have body {overflow-x: hidden} with position sticky and stickybits?
What would be your best guess when we need content outside of the user's view?

[2018-02-27 17:11] yowainwright commented on #253
Hey @thepedroferrari !

- follow this link: https://github.com/w3c/csswg-drafts/issues/865
- You can checkout this [link to a webpage I built](https://content.dollarshaveclub.com/) a few years ago. It uses position sticky in many places and has hidden content via a side nav.

Hope those links help and provide context.

[2018-02-27 17:31] yowainwright commented on #252
@adambant I think you might have a point & I will look 😊!

This is what I am understanding, btw:

---

That said, if you re-look at the [Codepen I pasted](https://codepen.io/yowainwright/pen/Zrmzgp) yesterday and update the `html` slighty—like in the Codepen—placing the _Stickybit_ as a direct child of its containing parent, you can have Stickybits working with little effort and can create a compl

[2018-02-27 18:31] adambant commented on #252
But in your CodePen you have the SecNav hard coded in CSS to be a "fixed" position which completely negates the need or use for stickybits. Also we are using a CMS system and putting the secondary nav inside content blocks is not an option for use. So the secNav needs to be outside any other containers except the main page container.

If you review my CodePen example you see the secNav follows the

[2018-02-27 18:42] yowainwright commented on #252
Please read the comment above `position: fixed` in the Codepen. I work on a mac so adding `position: fixed` within the Codepen allowed me to quickly see what one might see in Internet Explorer 11. 🤓

I have been trying the help @adambant. Some of the comments I've received don't seem to be very open to being helped. Perhaps I'm interpreting the context of the comments incorrectly.

[2018-02-27 19:27] adambant commented on #252
I work on a Mac too. :-) But I use VirtualBox to run a VM so I can test on IE11 and other Microsoft browsers.

https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

Forcing a component to "position: fixed" on code on a Mac does not simulate an IE11 behavior. Because all browsers support position: fixed, which only serves to NOT let the sticky bits plugin emulate the position: sticky beh

[2018-02-27 22:24] strarsis opened #254 "Change options"
It would be nice if there is a method for changing options after stickybits has been constructed/initialized.
Especially the `stickyBitStickyOffset` option needs changing sometimes.

[2018-02-27 22:27] yowainwright commented on #254
Could you explain the feature?

[2018-02-27 22:41] strarsis commented on #254
@yowainwright: `MutationObserver` on a header element, when header element height changes (e.g. by media query but also by user/script or anything else), the sticky scroll offset is corrected.

[2018-02-27 22:45] yowainwright commented on #254
@strarsis are you planning on working on this feature?

[2018-02-27 23:24] #234 closed

[2018-02-28 00:10] strarsis commented on #254
@yowainwright: No.

[2018-02-28 00:40] #254 closed

[2018-02-28 22:25] yowainwright commented on #213
@hacknug @DanielRuf I worked on **events** a bit. I worked on **events** a bit when I was considering an event based API for Stickybits—but forgot. 😜

This is what I'm thinking for events based on my awareness today and before:
-  no events for sticky, stuck, notStuck
    - CSS classes intead
       - will add css classes for:
          - js-is-sticky--safe
            - new CSS class that will be

[2018-02-28 22:48] DanielRuf commented on #213
Or people should use mutation observers. Not yet sure here.

[2018-02-28 23:20] yowainwright commented on #213
* https://github.com/dollarshaveclub/stickybits/pull/255

[2018-03-01 18:47] yowainwright commented on #253
@thepedroferrari closing this issue. Thanks for reaching out! 😊

[2018-03-01 18:47] #253 closed

[2018-03-07 06:48] jonjohnjohnson commented on #253
Just letting you know, on the site you linked, it doesn't seem to be falling back to use native sticky (on mac/chrome at least), and instead is using fixed, but with a jarring relayout (that doesn't take the height of the 'sticky' element into account) when crossing the 'stuck' boundary. @thepedroferrari I hope you figured out to scroll an element within the body and not the body/html itself.

[2018-03-07 13:13] thepedroferrari commented on #253
@jonjohnjohnson I haven't yet tbh. On my page there is something else going on and I haven't had the time to debug and find what it is. On some pages I testes with overflow-x: hidden + another element sticky, and it indeed works; So it is something on my end I still have to find out.

Thanks for the heads up!

[2018-03-07 16:41] strarsis opened #258 "Different parent"
The native `sticky` behaviour constraints the element to dimensions of its direct parent element.
This can be an issue sometimes, in this case the stickied
element should use the `body` element itself as parent.

[2018-03-07 16:53] DanielRuf commented on #258
I do not fully understand your issue. You can use the `scrollEl`.

[2018-03-07 16:55] strarsis commented on #258
[code]
The element is stickied, but still constrained by dimensions of its direct parent.

[2018-03-07 17:04] DanielRuf commented on #258
Please provide a codepen so we can directly see and test this.

[2018-03-07 18:00] strarsis commented on #258
@DanielRuf: https://codepen.io/strarsis/pen/MVgeKm

[2018-03-07 21:15] strarsis commented on #258
Upon further inspection I notice that apparently just `position: sticky` is applied to it (on Chrome) but no further toggling (like `position: fixed`) for a different scroll element.

[2018-03-08 03:13] yowainwright opened #261 "improve config"
The StickyBits config folder can be improved. See [postmate's config](https://github.com/dollarshaveclub/postmate/tree/master/configs). ~Thanks to @Andarist for his help on Postmate.

[2018-03-08 05:11] DanielRuf commented on #258
`position: sticky` is what is used in browsers that support it so this is right.

[2018-03-08 05:35] #261 closed

[2018-03-08 14:17] strarsis commented on #258
@DanielRuf: But doesn't this library state it is not a polyfill and that it thereby offers additional, different behaviour?

[2018-03-11 23:45] yowainwright commented on #258
Is there an update and/or fix that needed to made @strarsis? If so, please submit a pull request—with a readme or code update. If the update/fix makes sense, I will happily support it being merged.

Thanks! ~Jeff 🙏

[2018-03-11 23:46] yowainwright commented on #246
@DanielRuf will re-open if this feature provides greater gains than observed [here](https://github.com/dollarshaveclub/stickybits/pull/260).

[2018-03-11 23:46] #246 closed

[2018-03-11 23:47] yowainwright commented on #213
@hacknug I added the the new `js-is-sticky--change` css class.

[2018-03-11 23:47] #213 closed

[2018-03-17 01:35] steveooo9 commented on #100
@yowainwright Yeah, I think is is something that should be fixed because it's somewhat a bug. A lot of people do a F5 refresh (or CMD+R) and when they scroll to something, the browser tries to keep at this scroll position after reload. I don't know the real logic browser specifics behind all this, but even so it's something that should be "normalized" or fixed to work with all ways.

[2018-03-17 11:24] DanielRuf commented on #100
Might to do with the state (document.readystate).

[2018-03-17 19:20] steveooo9 commented on #100
Maybe this? https://stackoverflow.com/questions/15355839/how-to-let-the-chrome-forget-the-page-scroll-position

[2018-03-17 20:51] #258 closed

[2018-03-17 21:08] yowainwright commented on #100
@DanielRuf @steveooo9 Hey! 🙂

I don't think that the Stickybits feature/update that we'll make (soon btw 🎸) should support various things that "might" happen to change a Stickbits instance's state. I think Stickybits should provide a way that the implementer can control when their implementation of Stickybits needs an adjustment its state. The reason that I think this is that the issue described c

[2018-03-18 00:40] steveooo9 commented on #100
@yowainwright Yeah, I partially agree with that.
But it still should work and mostly be bug-free.

Currently when on the Stickybits website and you scroll some time and reload, the "is Stuck! 🔥" is buggy. So this is something that should be addressed (I think).

So maybe Stickybits catches all this changes and gives a public `update()` method. Maybe this is enough, so we could say when to trigger

[2018-03-18 07:49] yowainwright commented on #100
@steveooo9 if you have a fix for this issue, please submit a pull request. If there is an issue with the landing page, please file an issue and technically document what is wrong with browser, logs, gifs, OS, etc.

[2018-03-19 20:17] steveooo9 commented on #100
@yowainwright No, I didn't fix this. I upload a video of the buggy behavior which probably is the same bug as in this task.
![bug](https://user-images.githubusercontent.com/27959355/37619814-d6a927d8-2bba-11e8-923c-eee939c38a95.gif)

[2018-03-20 03:36] panoply commented on #100
Can someone post this issue on [flems](https://flems.io/) – I cannot seem to recreate it in my environment locally. I had this issue in the past and managed to fix it.

[2018-03-20 03:38] yowainwright commented on #100
@panoply I'll be working on the actual issue soon—hopefully. If someone can post the on flems, though—that **would** be cool.

[2018-03-26 18:33] tomusborne opened #267 "Possible to delay stickyness?"
Really love what you've done here. Thank you!

Is it possible to delay the element from becoming stuck? This would allow us to add effects like fading in or sliding down as it becomes sticky.

[2018-03-27 13:08] goldenyz opened #268 "Add support to force using the polyfill's solution, not the native 'position: sticky'"
Although some browser(like Chrome) support the 'position: sticky' natively. But it has bugs in certain cases.
Could you provide a way to force using the polyfill's solution for sticky?

[2018-03-28 02:12] yowainwright commented on #268
@goldenyz thanks for reaching out. Stickybits will use `position: sticky` if possible. Note, Stickybits is not a polyfill. It is a utility plugin providing a feature that is often desired on web pages.

~Thanks

[2018-03-28 02:18] yowainwright commented on #267
Hey @tomusborne,

Thanks for you comment. This would be a tricky feature to support within the plugin. If I were trying to implement this in the way that I'm understanding, I would do it with Stickybits parent element. 😊
That could be done for sure.

Also, although I have not documented it yet, there is the `js-sticky-change` feature that will automatically be added after the Stickybits element is

[2018-03-28 02:59] goldenyz commented on #268
@yowainwright Thanks for you explanation. What I suggest is to force Stickybits not using the `position: sticky` even the browser support it.

[2018-03-28 04:00] yowainwright commented on #268
No

—Thanks for further clarifying. 😁

[2018-04-03 05:30] yowainwright commented on #267
@tomusborne I'm closing this. Thanks for your consideration.

[2018-04-03 05:30] #267 closed

[2018-04-03 05:40] tomusborne commented on #267
Sorry for not getting back to you sooner.

If you get a moment, it might be a good proof of concept to write up as a demo. I'll try to find some time this week to dig into the code a bit to see if I can figure it out. Will share if I do.

Thanks again!

[2018-04-04 05:08] george-norris-salesforce opened #272 "Click causes window to scroll to the top"
Having issue where clicking a button in the sticky nav is causing the window to scroll up.
Here is the problem recreated https://codesandbox.io/s/4w4kxyxvq7

[2018-04-04 19:05] yowainwright commented on #272
@george-norris-salesforce, thanks for sharing!

I will look.

----

I have seen [a similar problem before](https://www.google.com/search?q=position+sticky+just+on+button+click&oq=position+sticky+just+on+button+click&aqs=chrome..69i57.13612j1j7&sourceid=chrome&ie=UTF-8) with fixed/sticky things. I'm not sure it is the same thing but I am curious. I think #100 may help but it may still require extra

[2018-04-04 22:57] george-norris-salesforce commented on #272
Thanks @yowainwright .. Going to handroll a solution for the moment and check the solutions you mentioned ater. Funny, we just tested this in Safari and it works ok. This is just happening in Chrome.

[2018-04-04 22:58] yowainwright commented on #272
@george-norris-salesforce if you have time to share your findings/solution—I'd really appreciate it!

[2018-04-05 01:25] george-norris-salesforce commented on #272
Looks like this is a focus() bug. When you click the popover, interally it calls focus() on the popover to capture focus for accessibility. Looks like it is browser bug (?) and doesn't know the sticky element is already in view, and erroneously scrolls to the top of the page. Still digging, but so far is seems that may be what's going on..

[2018-04-05 01:30] yowainwright commented on #272
@george-norris-salesforce okay, The link I shared [above](https://www.google.com/search?q=position+sticky+just+on+button+click&oq=position+sticky+just+on+button+click&aqs=chrome..69i57.13612j1j7&sourceid=chrome&ie=UTF-8) **IS** the right google. 😊

I don't think that stickybits should/can manage this...but I have worked around this issue before. Maybe I can write a little utility? At worst, I thin

[2018-04-05 01:43] george-norris-salesforce commented on #272
I ended up writing a little class that made the top nav fixed at a certain point, and used stickybits for the rest. Works pretty well. Thanks for the great library!

[2018-04-10 21:04] #272 closed

[2018-04-10 21:29] george-norris-salesforce opened #274 "Version 3.2.2 scrolling and IE11"
Version 3.2.2 seems to break scrolling in IE11. Tested on browserstack IE 11 with version 3.2.2

[2018-04-10 22:10] yowainwright commented on #274
Yeah, this would do it: https://github.com/dollarshaveclub/stickybits/blob/master/dist/stickybits.es.js#L296

It's a compiled error. 😔

[2018-04-11 04:17] #274 closed

[2018-04-11 14:15] AsafAgranat opened #278 "Add angular 2+ setup example to the readme"
Noticing that a new typings file was recently added and merged to the master, could someone kindly add Angular 2+ setup instructions, as a directive or otherwise?
I've tried to follow the setups that were suggested [here](https://github.com/dollarshaveclub/stickybits/issues/78), but I keep getting an error:
[code]

[2018-04-12 07:06] yowainwright commented on #278
Hey @AsafAgranat, thanks for reaching out!

An example like this would be much appreciated within the wiki.

[2018-04-12 07:52] AsafAgranat commented on #278
@yowainwright, unfortunately I haven't yet managed to successfully implement StickyBits in the Angular 5 project I'm working on at the moment. Well, I haven't spent too much time trying it either. I've only tried with the 2 code suggestions posted at the link I've included in the OP, which kept yielding the above mentioned error. But then I saw that the typings Typescript was added, which should p

[2018-04-12 17:48] yowainwright commented on #278
@AsafAgranat I meant: could share the code you're working with? Is it open source? 😊

[2018-04-17 09:54] atomiks opened #284 "Behavior when sticky element is taller than viewport height"
Is there a solution for when a sticky element exceeds the viewport in height?

It will be cut off while scrolling until it reaches the bottom of the parent.

https://codepen.io/anon/pen/aGoBVR

See the sidebar here for desired behavior (decrease window height if needed): https://flatpickr.js.org/options

- When scrolling **down**, the element uses `bottom: {offset}` sticky behavior so that the con

[2018-04-17 18:08] yowainwright commented on #284
Hey, @atomiks!

I've never thought of this problem. What are your thoughts?

...I will look at the codepen later.
![todoist](https://user-images.githubusercontent.com/1074042/38888129-8c897708-422f-11e8-90c5-d2c690d24e5e.jpg)

[2018-04-18 01:37] yowainwright commented on #284
@atomiks I appreciate your example!

Stickybits could be used to address this behavior but does not support it out of the box.

[2018-04-18 03:07] atomiks commented on #284
I believe this is one of the most important functionalities to have actually, as there are many cases in which a sticky element will exceed tbhe viewport height.

Facebook has a sticky sidebar with the functionality I described. I believe it's quite tricky to implement though (lots of logic)

[2018-04-18 06:25] yowainwright commented on #284
Thanks for your thoughts, @atomiks.

[2018-04-19 17:15] mearleycf commented on #278
Regardless of @AsafAgranat 's code, can you please post instructions for including stickybits in an angular 5 project?

[2018-04-19 17:36] yowainwright commented on #278
@mearleycf Stickybits is not an Angular utility. It is a JavaScript utility. This means that it can be used in Angular but code is not written specifically for Angular.

That stated, a link can be added to an Angular demo if someone wants to share one. ~Thanks

[2018-04-19 17:42] DanielRuf commented on #278
Exactly, just include / import / require and use it.

[2018-04-19 23:57] AsafAgranat commented on #278
Here's the code for a working directive in an angular-cli project:

1. Install StickyBits with npm or yarn as usual

2. Add the following line to **src/typings.d.ts**:
[code]
3. Create the directive **stickybits.directive.ts** (and include it in your module):
[code]
4. Use the directive on your elements:
[code]
And [an example on Stackblitz](https://stackblitz.com/edit/angular-stickybits-directive

[2018-04-20 00:02] yowainwright commented on #278
@AsafAgranat THANK YOU! 🔥

I will add this to the Wiki and close this issue when I've done that.

[2018-04-21 16:25] AsafAgranat commented on #278
This is a more exhaustive directive. It exposes props from Stickybits as inputs, and it destroys itself.

[code]

[2018-04-24 11:08] glenpig opened #289 "Navigation sticks after only scrolling down 1px in IE11"
Hi

I have a full-width &lt;nav&gt; bar which I'm wanting to stick to the top of the browser when scrolling down.  There is a &lt;div&gt; before the &lt;nav&gt; of about 200px high but in IE11 the &lt;nav&gt; is sticking after scrolling down only 1px and not when the &lt;nav&gt; reaches the top of the browser.

Works fine in all over browsers including Edge.

Many thanks For your help

[code]

[co

[2018-04-24 16:52] yowainwright commented on #289
Hey @glenpig!

The code I pasted below will work. Your issue is a big reason for why Stickybits does not claim to be a polyfill. 😊 ...I code go into a deeper explanation but it might end up seeming like I'm rambling. Here's a link to the [wiki where I wrote a bit about it](https://github.com/dollarshaveclub/stickybits/wiki/Understanding-Stickybits-and-Position-Sticky)

[code]

[2018-04-25 06:04] yowainwright commented on #278
@AsafAgranat add something to the [wiki](https://github.com/dollarshaveclub/stickybits/wiki/Angular-Setup). Please update as you see fit. I will be adding something to the README very soon.

~Thanks again!

[2018-04-25 06:04] #278 closed

[2018-04-25 09:45] kal93 opened #291 "Angular stickybits directive doesn't seem to work with column header."
I'm using the stickybits directive for having sticky coulmn header in MatTable. The stickybits works with other things except for the column header.

 [Stackblitz ](https://stackblitz.com/edit/mat-table-stickybits-column-header)

[2018-04-25 13:00] DanielRuf commented on #291
Can you provide a codepen so we can see a live demonstration of the issue?

[2018-04-25 13:15] kal93 commented on #291
@DanielRuf I've provided the stackblitz link. To be more specific in that, the directive is being applied at `line 23` & `line 25` in `table.component.html` .

[2018-04-25 16:42] yowainwright commented on #291
@kal93, I only looked at the issue briefly.

I think this is a documented issue with `<table>` related elements. #143

[2018-04-25 17:50] kal93 commented on #291
@yowainwright  Thanks for pointing to #143. I was facing similar issue of header getting detached from the table while trying to implement workarounds. Will look more into it.

The directive didn't work only for the column header.
[code]
It works fine for the divs & other elements across browsers.
[code]

[2018-04-26 02:50] Serpentsoft opened #292 "Non absolute container doesn't work"
Hi guys,

Thanks for your great project, But I cannot use it in a real complicated bootstrap 4.1 project, I tried a lot to make it works but I noticed that all examples you provide depending on an absolute .main container which is impossible to use in a real project at least for me.

Any solution for that?

Best

[2018-04-29 00:45] yowainwright commented on #292
Hey @Serpentsoft,
Thanks for your question.
The main container definitely does not have to be `position: absolute`.

Could you provide me a Codepen or code snippet of what you're working with and we can _hopefully_ hack some awesomeness up?

[2018-04-29 12:30] Daidalos117 commented on #100
Any progress? It's really annoying :/

[2018-04-29 13:37] yowainwright commented on #100
@Daidalos117 the sentence, ”It’s really annoying” is inappropriate because it is negative in context and doesn’t help the Stickbits community.

There is nothing stopping you for digging into the code and seeing that a fix has been added—which it seems you did not do.

[2018-04-29 23:03] Serpentsoft commented on #292
Hi Pal,

Actually it drive me crazy, I cannot make it work in a real project with a lot of nested DIVs or whatever the reason although the new properties wrote correctly {position: sticky; top: 0;}, Anyway It works in a small Fiddle project BUT not when the Main Sidebar larger than the content.

I'm using it side by side with theiaStickySidebar to stick share buttons inside the article content and

[2018-04-30 02:03] yowainwright commented on #292
Cool, @Serpentsoft. Let me know when you have that fiddle.

[2018-04-30 02:45] Serpentsoft commented on #292
Do you have any ıdea about the heıght dıfference ıssue??

Thanks and 'll try to make my issue in the Fiddle.

Best

[2018-05-03 17:48] yowainwright commented on #292
@Serpentsoft I'm a bit confused on the problem. In your original fiddle, I saw the social icons become sticky as expected. What do I have to do to replicate the issue you're seeing? ~Thanks

[2018-05-03 17:48] #291 closed

[2018-05-03 17:49] yowainwright commented on #289
@glenpig I'm closing this ticket b/c on inactivity. Feel free to reach out! ~Thanks

[2018-05-03 17:53] yowainwright commented on #284
@atomiks I greatly value your issue and your OSS work! If I were to write a JS utility with the feature you pointed out, I would write the utility completely differently than how Stickybits is written.

Maybe it could be another utility UI module?! 😍

I'm closing this issue for now.—Thanks, @atomiks @AsafAgranat!

[2018-05-03 17:53] #284 closed

[2018-05-04 02:25] Serpentsoft commented on #292
Just continue scrolling to the end of the page then go up again you'll notice that the sticky social area go to top 0.

Best

[2018-05-04 15:55] nthibert opened #296 "Update properties without creating new instance"
Is there a way to update the properties and refresh the current instance of stickybits without the need to create a whole new instance. I have looked at update, but seems it's not updating my offset.

[2018-05-04 23:55] yowainwright commented on #296
@nthibert hmm, what offset are you talking about specifically?

[2018-05-04 23:58] yowainwright commented on #292
@Serpentsoft that document has a lot of HTML. I don't think I'm going to be able to help you as much as I'd hoped. ~Sorry

[2018-05-05 00:29] yowainwright commented on #296
@nthibert that's a great point, `.update()` only updates the StickyBits sticky calculations and not `stickybitsStickyOffset`.

...but I think you can update the `stickybitsStickyOffset` of each Stickybits instance in the `instances` array. It might look something like this:
[code]
Sorry if I'm totally off base. I'm trying to provide feedback quickly.

[2018-05-05 01:10] nthibert commented on #296
Would this actually update the element style. I believe the offset gets set to the top property. So just updating the prop might not be enough. Maybe manageState might need to be called?

Possible future function maybe an update with params passed in to update the initial config and re-render on the element.

[2018-05-05 15:47] Serpentsoft commented on #292
Yes I thought you need html to be like a real project, I removed all unused, If you want to test it again [The Fiddle](https://jsfiddle.net/Oxibug/8bsu8qpe)

Thanks for your time and your great project.

Best

[2018-05-05 22:53] yowainwright commented on #296
@nthibert you're right about the element not getting updated. `.manageState` wouldn't help. You could update both—or not have Stickybits manage the offset of the sticky element (just quick ideas).

In regards to the future feature: update with params passed in to update the initial config and re-render on the element—that is a thoughtful idea! Initially, I feel like it would be too much but I'm go

[2018-05-10 13:02] psntr opened #300 "Multiple instances of the same selector"
Hi,

first of all thank you for that simple plugin! I'm just having an issue where I have multiple instances of sticky element inside the same parent container.

I have enable the `parentClass` options, thus that container has repeat as much sticky element as for parentClass.

Any options allow only one Class for the whole sticky elements?

[2018-05-10 14:46] XavierCrespin commented on #289
Hi, i'm having a hard time getting this to work too.
Setting a parent only works if parent has a set height.
And in this situation (sticky top navbar) we cannot set a height or it will push content back on the page.

[2018-05-10 21:09] yowainwright commented on #300
Could you provide a Codepen?

[2018-05-10 21:11] yowainwright commented on #296
The wontfix tag was added to signify:
- this is not a bug
- it is a thoughtful feature idea
- a similar feature may be at a later date (but is not actively being considered)

[2018-05-10 22:00] XavierCrespin commented on #289
Fixed it by using the code from this user's pen
https://codepen.io/adambant/pen/EQdBJd

From this thread : https://github.com/dollarshaveclub/stickybits/issues/252

[2018-05-10 22:09] yowainwright commented on #289
@XavierCrespin would you like to submit a PR?

[2018-05-10 22:35] yowainwright commented on #292
@Serpentsoft that was on me about the really project—sorry. Sorry for the late response too.

From my quick understanding, there is an issue with: https://cdn.jsdelivr.net/npm/theia-sticky-sidebar@1.7.0/dist/theia-sticky-sidebar.min.js.

[2018-05-11 06:06] psntr commented on #300
Sure, I compiled here on jsFiddle:
[code](https://jsfiddle.net/psntrtr/6kqp2znm/1/)
as you can see the parent of the sticky should only have the parent's class once as the sticky elements are the same. But here it repeats many times.

[2018-05-11 22:45] yowainwright commented on #300
@psntr Is your intention that the Stickybits items stick to each other or stop before the next one starts?

[2018-05-13 12:04] psntr commented on #300
Sorry late reply. The behaviour on the jsFiddle is right. That's what I expect it to do. But what I want to avoid is to have the ".js-stickybit-parent" to be repeated that many times. This class should appears only once. If you inspect the section element (parent of the sticky's elements) you will see that the class appears many times.

[2018-05-13 20:36] XavierCrespin commented on #289
@yowainwright hey!
What should i do? i'd be glad to help but sorry i don't understand

[2018-05-14 20:57] yowainwright commented on #300
Okay, thanks for clarifying. Stickybits is expecting something like this:
[code]

[2018-05-14 20:58] yowainwright commented on #289
Submit a Pull Request with the code changes you'd expect. Does that make sense? 😊

[2018-05-15 07:34] psntr commented on #300
I see that makes pretty sense. And it seems to work that way too.

Thank you @yowainwright !

[2018-05-15 07:34] #300 closed

[2018-05-16 17:59] nthibert opened #302 "js-is-sticky selector gets added late"
Hey, I ran into an issue or designed feature. So when I have an element that is underneath a already sticky element and I add an offset to it to support not going over the first element. Seems like js-is-sticky is only being applied when the parent element has scrolled passed the top viewport and not when the element gets actually stuck. Not sure if this is working as expected or if it's an actual

[2018-05-16 18:02] yowainwright commented on #302
1. The landing page uses an old version of Stickybits. Someone should update it.
2. That is by design—but should be fixed. Do you want to do it @nthibert?

[2018-05-16 18:03] yowainwright commented on #292
@Serpentsoft I'm closing this issue because it relates to a project—not Stickybits.

Feel free to reach out, though.

[2018-05-16 18:04] #292 closed

[2018-05-16 18:14] nthibert commented on #302
I can look into it, just wanted to make sure what the logic was before actually modifying the code

[2018-05-16 19:17] yowainwright commented on #302
@nthibert thanks and thanks for checking in.

[2018-05-31 03:31] dotKev commented on #268
@yowainwright I need a way to use the inline style/css class solution in Chrome as well. [This bug](https://bugs.chromium.org/p/chromium/issues/detail?id=834054) is affecting me in Chrome.

I understand that _Stickybits is not a polyfill_. If it were a polyfill, I'd expect to use the default functionality if it's available, and fall back to something else for other browsers. As you said, _It is a

[2018-05-31 06:27] yowainwright commented on #268
@dotKev noted. I'll add an option asap.

[2018-06-01 15:38] puglyfe opened #308 "does customVerticalPosition do anything?"
I'm looking for the best option to stick something in the center of the viewport. Per https://github.com/dollarshaveclub/stickybits/issues/82, something like that _should_ be achievable with `customVerticalPosition`.

However in digging through the source, there seems to be no mention of that option as a Boolean (per the docs) or otherwise. Does it actually exist?

Secondly, this is an amazing lib

[2018-06-01 16:51] puglyfe commented on #308
FWIW, I figured out a solution for my case using `calc()` functions, but the original question still stands.

[2018-06-01 19:01] yowainwright commented on #308
You're right @puglyfe. There is an artifact in the readme. Would you like to update that?

It should be `verticalPosition: 'bottom'`. I didn't update the jquery portion of the readme.

[2018-06-02 23:34] #308 closed

[2018-06-02 23:34] yowainwright commented on #308
@puglyfe thanks for the note!

[2018-06-03 00:16] puglyfe commented on #308
@yowainwright no problem. thanks for the quick response. sorry i didnt get to the PR. ill put a codepen together to demo center positioning in case others end up here.

[2018-06-03 01:54] puglyfe commented on #308
Here's a quick demo to show vertical centering of a sticky child using `calc()` functions - https://codepen.io/puglyfe/full/gKaJQb/

[2018-06-06 10:31] SharakPL opened #316 "js-is-sticky--change works well only when going out off sticky mode"
I assume `js-is-sticky--change` class is supposed to be added the moment element stops scrolling and sticks to the top. Then when it stucks at the bottom of parent container this class is removed. This is needed to actually have element styled properly while in sticky mode. But only removing this class works well. Adding it happens always too early or too late (depends on the content of sticky ele

[2018-06-06 12:39] denkristoffer commented on #188
Seeing the same behaviour as @hacknug. I agree that I would expect `stickybits.cleanup()` to remove anything related to stickybits, `useStickyClasses` or not. I don't want to add a scroll event listener just for this, so I've resorted to just removing all inline styles from the element for now instead of calling `cleanup()`.

[2018-06-06 18:02] yowainwright commented on #188
@denkristoffer thanks for your thoughts. You do not need an event listener and leaving `position: sticky` there allows CSS to do what used to have to done with JS.

This [link](https://developer.mozilla.org/en-US/docs/Web/CSS/position#sticky) on `position: sticky` might clarify something.

[2018-06-06 18:27] yowainwright commented on #316
@SharakPL:

The developer can define when the class `js-is-sticky--change` is added to a Stickybits [instance](https://github.com/dollarshaveclub/stickybits/blob/master/src/stickybits.js#L61).

Feel free to submit a PR with "info" for `stickyChangeClass` in the README as well as write acceptance tests...which why `stickyChangeClass` hasn't been documented. Otherwise, I'll get to it soon.

[2018-06-06 18:27] #316 closed

[2018-06-06 18:29] yowainwright commented on #268
@dotKev @goldenyz ...just need to write some more tests.

[2018-06-06 19:46] denkristoffer commented on #188
@yowainwright Sorry, I probably should've explained my use case: I want to use `position: fixed` for all users, whether or not `position: sticky` is supported, until a media query matches (a specific viewport width) 🙂 After it matches I want to use `position: sticky` when possible. Basically, `position: fixed` for mobile users, regardless of whether or not `position: sticky` is supported, and `pos

[2018-06-06 20:20] yowainwright commented on #188
@denkristoffer:

- see #268
- also, [this](https://github.com/dollarshaveclub/stickybits/blob/master/src/stickybits.js#L70)
  - there is not documentation because there are not acceptance tests yet (aka "soft release"). I'm working on it.

[2018-06-06 22:33] denkristoffer commented on #188
@yowainwright Am I way off if I only want Stickybits to activate after a certain viewport width? Sorry, I don't mean to be moaning about specific behaviour that you might not want to support, it's just not my impression that stickybits actually supports this. Please feel free to correct me if I am wrong 😃

[2018-06-06 22:39] yowainwright commented on #188
Stickybits doesn't deal with window resize (viewport width).

[2018-06-07 14:01] olicarter opened #318 "Sticky el mouse events moving with page while sticky el still visibly stuck (Chrome)"
On Blisk 9.0.177.201, mouse events aren't detected on the sticky element after scrolling past the point that the element begins to stick. It responds to mouse events as though the sticky element is still scrolling, though visibly, it is stuck to the window as it should be.

If I drag the mouse to highlight text over the sticky element then it "refreshes" and accepts mouse interactions at it's curr

[2018-06-07 14:58] hacknug commented on #188
@denkristoffer not sure if this is going to be helpful or not but here it is anyway.

I also was trying to enable stickybits when matching a given media query and this is what I used (besides a _fixed_ version of stickybits, the one on #191 that ended up breaking other things and got reverted).

If screen is wider than 1366px, stickybits is called and the header element becomes sticky. If not, I d

[2018-06-10 05:33] yowainwright commented on #318
@olicarter this issue is not clear to me. I'm going to need a jsbin or a url.

[2018-06-10 21:17] olicarter commented on #318
Looks like it was a temporary glitch. Seems to be working just fine now!

[2018-06-10 21:17] #318 closed

[2018-06-11 14:46] dashifen commented on #253
For what it's worth, I also just ran into this.  Once I removed the overflow-x: hidden, the sticky element scrolled as expected; with the overflow-x rule in place, no sticky.  I tried to re-create in a jsfiddle, but no dice.  It always worked there regardless of what CSS I was using so as @thepedroferrari said, it's something more complicated.

[2018-06-11 15:06] joaonora opened #320 "IE and EDGE Doesn't work"
Hi,

I've tried to implement this library but it doesn't work on IE or in Edge, not even your examples.

Can you help me please?

Best Regards,
João

[2018-06-11 15:07] jonjohnjohnson commented on #253
In how browsers treat internal scrolling elements different than how they scroll the document/html/body, implementations have become looser in allowing `overflow-x: hidden` on html/body tags that will still allow a sticky positioned element to the "scrollingElement". It's unintuitive surely, yet still definitive, and the discussion in https://github.com/w3c/csswg-drafts/issues/865 covers the reaso

[2018-06-11 18:43] jonjohnjohnson commented on #253
I'd definitely suggest using `transform` not only for perf not causing reflow with `width` manipulation, but also for `transform` replacing the initial containing block for sticky position to reference internally. And as far as browser support go, I can usually make a nice "fallback" progressively enhancing with @support rules. For fun, check this thing that just uses scrolling to "open" a sidebar

[2018-06-13 22:31] yowainwright commented on #268
@dotKev sorry, I forgot. I'll try to get this done in the next few days.

[2018-06-14 17:14] yowainwright commented on #320
Hey @joaonora,

There are a few open issues regarding Internet Explorer. Did you check those out? Also, could you provide some examples?

I will review the Stickybit Examples in Internet Explorer today.

[2018-06-14 20:51] yowainwright commented on #268
@dotKev published `3.3.5`.

[2018-06-14 20:51] yowainwright commented on #268
I'll probably be supporting issues that are going to pop up no around `position: fixed`. I could use some help. 🙏

[2018-06-14 20:52] #268 closed

[2018-06-14 20:53] yowainwright commented on #320
#289

[2018-06-14 20:53] #320 closed

[2018-06-14 20:55] yowainwright commented on #296
Provide a thumbs up here if you want this feature. If there are enough thumbs up, this feature will be added.

[2018-06-14 20:55] #296 closed

[2018-06-14 20:56] yowainwright commented on #100
#295 will be wrapped up shortly (next few days). Sorry about the wait.

[2018-06-14 20:58] strarsis opened #327 "Different parent?"
It is possible to use a different parent element than the actual parent in DOM?

[2018-06-14 21:46] yowainwright commented on #327
@strarsis

No. If you would like to provide a PR, support would be considered. Initially, a feature like this would be really complex and cause issues for other features + weird support across browsers.

[2018-06-14 21:48] yowainwright commented on #327
Readers, please give this issue a thumbs up if you would like this feature to be considered. 👍

[2018-06-18 10:11] YuseiUeno opened #328 "jQuery instance not return"
[code]
then, `instance` is `undefined`

![image](https://user-images.githubusercontent.com/13248742/41530348-e4094ffe-732a-11e8-8756-8369069fd5ab.png)

I can't do that :( https://github.com/dollarshaveclub/stickybits#jquery-and-zepto-usage

[code]

[2018-06-18 10:13] DanielRuf commented on #328
Did you include the right file?

https://github.com/dollarshaveclub/stickybits/tree/master/dist

Can you provide us the link to the codepen?

[2018-06-18 10:14] DanielRuf commented on #328
Also see https://github.com/dollarshaveclub/stickybits/blob/master/src/jquery.stickybits.js

[2018-06-18 10:29] YuseiUeno commented on #328
I just click this link and I store and alert the instance.
[As a jQuery or Zepto Plugin](http://codepen.io/yowainwright/pen/57b852e88a644e9d919f843dc7b3b5f1)

[2018-06-18 10:32] YuseiUeno commented on #328
I think do this
https://github.com/dollarshaveclub/stickybits/pull/329

[2018-06-18 11:28] DanielRuf commented on #328
Can you provide your (forked) codepen?

[2018-06-18 11:40] YuseiUeno commented on #328
ok! Please check this.
https://codepen.io/yuseiueno/pen/RJjOEp

[2018-06-18 13:16] clucaseh commented on #225
Does the elements need to be in a flexbox for it to work properly in IE11

[2018-06-18 13:51] clucaseh opened #330 "Stickybits is not working properly in IE11"
Stickybits with multiple instances is not working properly in IE11
https://staging-2.everydayhealth.com/testpage/photogallery-hl1/#joy-bauers-heart-smart-blueberry-pomegranate-smoothie

[2018-06-18 13:54] clucaseh commented on #330
The sticky rail is appearing to the left and it needs to stop being sticky once the scroll hits the end of the parent container

[2018-06-18 18:27] yowainwright commented on #330
@clucaseh this issue seems specific to a product based on the comments.

Could you provide an example and potential solutions that relate specifically to the Stickybits utility?

—Thanks

[2018-06-18 18:27] #328 closed

[2018-06-19 21:15] yowainwright commented on #302
@nthibert this is the line that may need to be updated:

- https://github.com/dollarshaveclub/stickybits/blob/master/src/stickybits.js#L222

Happy to review a PR if the line is incorrect.

[2018-06-19 21:15] #302 closed

[2018-06-19 21:23] yowainwright commented on #289
I believe/hope this issue was fixed by @ajithbhat [here](https://github.com/dollarshaveclub/stickybits/commit/e2d97785c354aea29f31f438bed745b8297fe649).

If not, the calculations can be done as referenced [here](https://github.com/dollarshaveclub/stickybits/issues/252#issuecomment-368697539) thanks to @adambant but within @ajithbhat's `getOffsetTop` [method](https://github.com/dollarshaveclub/stic

[2018-06-19 21:23] #289 closed

[2018-06-19 21:44] #100 closed

[2018-06-27 20:51] cmalven opened #340 "scrollEl accepting only a selector makes it difficult to use stickybits with libraries like react"
React has a concept of `refs` which can be used to work with javascript libraries that depend on DOM elements being more reliably available.

The `scrollEl` parameter in stickybits currently takes on a selector string, which makes it impossible to point to a specific rendered element in React and be confident that element isn't going to change out from under stickybits.

How would you feel about u

[2018-06-27 23:01] yowainwright commented on #340
I feel indifferent. If you'd like to submit a PR with what you'd like, I will definitely look. 😁

If you'd like to get insight into how other open source repos use Stickybits you can check this link [out](https://www.npmjs.com/browse/depended/stickybits) (it looks like some of them are React based).

—Thanks!

[2018-06-28 15:18] cmalven commented on #340
@yowainwright I figured that'd probably be the case. I submitted a pretty simple PR that makes all of the changes necessary. I didn't bother to update the release info/changelog yet, but happy to do so if you're at all interested in merging.

I also looked through all of the open source libs you listed and none of them are using the `scrollEl` param, so they wouldn't have run into this. Thanks for

[2018-06-28 20:37] #340 closed

[2018-07-04 15:37] joaonora commented on #320
.definePosition('sticky')

doesn't work in IE.

I'm writing this to call it:
_stickybits('.child', {
            parentClass: '',
            useStickyClasses: true,
            scrollEl: '#arquivo-messages-main-container'}).definePosition('sticky');_

My partent class have the class "sticky-nav-parent" and "js-stickybit-parent".

when i start scrolling 1 px the first header jumps...

[2018-07-04 15:45] joaonora commented on #320
https://codepen.io/yowainwright/pen/EXzJeb

This example doesnt work to.... the yellow square jumps outside to the top of the page...

[2018-07-04 17:29] DanielRuf commented on #320
Did you try the latest release?

[2018-07-04 17:30] joaonora commented on #320
yes, but send me the path of the JS to introduce in my website. please.

2018-07-04 18:29 GMT+01:00 Daniel Ruf <notifications@github.com>:

--
*João Nora*

Web Developer
Android Developer
+351 969547392
joao.andre.nora@gmail.com

[2018-07-04 20:57] DanielRuf commented on #320
Sorry, I do not understand what you mean.

[2018-07-05 09:07] joaonora commented on #320
i'm using the files that are in the folder "Dist":
- stickybits.js (it was updated 5 days ago)

And the the command that i used to initialized the sticky is:

stickybits('.child', {
    parentClass: '',
    useStickyClasses: true,
    stickyBitStickyOffset:totalHeightDistanceTop,
    scrollEl: '#arquivo-messages-main-container'}).definePosition('sticky');

the ID #arquivo-messages-main-container i

[2018-07-30 05:23] sudheer496 opened #349 "sticky for table th elements"
Will this also work for below sample?
https://codepen.io/gowrs/pen/MBoEaq
Use case: Have fixed header for table, here "th"  needs position sticky.

[2018-07-30 11:44] sudheer496 opened #350 "Table cells with scrollEl is not working in IE11"
Below sample is not working in IE11.
https://codepen.io/gowrs/pen/djJvzz
It has scrollEl as the parent. It's not updating the position: fixed in IE11 and corresponding top as well.

[2018-07-31 07:38] yowainwright commented on #350
This is a previously documented issue #143.

[2018-07-31 07:38] #350 closed

[2018-07-31 07:39] yowainwright commented on #349
This is a previously documented issue #143.

[2018-07-31 07:39] #349 closed

[2018-08-01 03:46] DeadpanFlan opened #351 "verticalPosition: 'bottom' not working on its own"
As mentioned in the title `verticalPosition: 'bottom'` does not work on its own, and only starts working after I added `useStickyClasses: true` as well. Is this the expected behavior?

[CodePen Example](https://codepen.io/anon/pen/bjLyNz)

[2018-08-01 04:12] DeadpanFlan commented on #351
I guess this is related to #121. Any updates to this?

[2018-08-01 04:12] #351 closed

[2018-08-22 00:55] malekascha opened #355 "Disable stickybits when screen is small?"
I'm working on a responsive search interface, where the user can select multiple filters from a panel. When the screen is large, I want the filter panel to stick using stickybits - this works fine. But if they zoom in or reduce the window size, causing the layout to change, then I want the filter panel to stop sticking, because it overlaps the search results. I tried using the window.onresize even

[2018-08-22 01:01] yowainwright commented on #355
@malekascha I'll need to see a code snippet or Codepen. Based on the issue you've described, `.cleanup()` should work.

[2018-08-22 02:04] yowainwright commented on #355
## Options

Here are some options:

- Remove the inline [style](https://codepen.io/yowainwright/pen/xabYJa).
- Using [`.cleanup()`](https://codepen.io/yowainwright/pen/JaopyZ).

----

## Why is this not done within _Stickybits_?

`.cleanup` is not provided by default because the main reason **for** Stickybits is to support stickiness! So if `position: sticky` is supported, `.cleanup` is never invo

[2018-08-22 02:04] #355 closed

[2018-08-22 17:46] malekascha commented on #355
Thanks, Jeff!

[2018-08-23 11:36] darekkay opened #356 "StickyBit website demo broken on IE11"
The [StickyBit Demo](https://dollarshaveclub.github.io/stickybits/) does not render in IE11:

![image](https://user-images.githubusercontent.com/3101914/44523081-f5b18a00-a6d8-11e8-8312-2a948ee7ec70.png)

It's not a layout issue, the items are not rendered at all. This is probably caused by a missing/misconfigured babel transformation, as a console error is thrown:

![image](https://user-images.gi

[2018-08-23 20:38] yowainwright commented on #356
Dammit. 😑

@darekkay, Thanks for point this out! I'll fix it ASAP.

[2018-08-24 08:31] darekkay commented on #289
I've had a similar issue when using `.sticky-top` from [Bootstrap 4](https://getbootstrap.com/docs/4.0/utilities/position/). This class basically adds a `top: 0`. When `.js-is-stuck` is applied, `bottom: 0` is added, leading to `top: 0; bottom: 0;`, which moves the whole sticky element to the top by default. My quick solution/workaround was

[code]

which unsets the `top: 0` value.

[2018-08-24 19:06] yowainwright commented on #356
@mezoistvan I am confused by your comment. The issue in #289 is an issue with Stickybits.

The issue here is an issue with `app.js` on the landing page.

[2018-08-25 02:31] yowainwright commented on #356
This specific issue was fixed in the `gh-pages` branch.

This issue pointed out a very interesting bug having to do with css calculation vs offsetTop. I am fixing that one shortly.

Thank you!

[2018-08-25 02:31] #356 closed

[2018-08-28 09:49] mezoistvan opened #369 "Stickybits demo page is broken on IE11"
Hi,
grats on the great package, loving it! 💯 Unfortunately, there is a bug in IE11 it seems:

## Requested Update
When using IE11 on the stickybits [demo page](https://dollarshaveclub.github.io/stickybits/), scrolling even 1 px makes the menu bar stick to the top. On the other browsers this works as intended, with the menu bar scrolling to the top with the rest of the page, and then sticking.

##

[2018-08-28 09:51] mezoistvan commented on #356
@yowainwright Thanks for the response, I opened a separate issue for that problem: #369

[2018-08-28 18:36] yowainwright commented on #369
@mezoistvan thanks for your follow through on this issue. I will review this issue asap.

[2018-08-31 14:49] mezoistvan commented on #369
Thanks for the quick fix! 👍

[2018-09-01 19:36] krodelabestiole commented on #355
hello I'm just facing the same issue, but I can't fix it.

I would like the sticky style to be totally disabled (I would have a relative positioned element) when the screen is smaller than 900px wide, but becoming sticky again when the window is bigger.

Unfortunately we cannot override the sticky positioning with CSS (an @media breakpoint would be great) for it is specified in the DOM. That would

[2018-09-01 21:43] krodelabestiole commented on #355
@yowainwright could you please reopen ?

[2018-09-02 01:09] yowainwright commented on #355
Hey @krodelabestiole.

I wrote this Codepen super quick...but I think [this is a solution](https://codepen.io/yowainwright/pen/Oopjbw) to the issue you posted—feel free to make something better with a debounce and post it in a comment below—but there is no reason to re-open this issue from my perspective.

----

If you're purposing a `.revive()` method, I would like to see a use case that isn't to

[2018-09-02 09:32] krodelabestiole commented on #355
oh thanks for your answer !

I thought I posted one last message yesterday but I was apparently so satisfied with the preview that I din't actually posted it... :/ Here was the solution I came with :
[code]

It's quite the same approach but I think your code is cleaner, I will adapt. Thanks again !

I'm not really proposing a revive() method. I was more trying to make my point understandable.

How

[2018-09-06 11:44] Oliver-Piorun opened #374 "Element is not sticky (IE11)"
Hi!

I am currently using stickybits (3.5.3) in an Angular app to provide a sticky-functionality for IE11.

The element does not get any position attribute in IE11 although it is recognized properly (I checked the return value of stickybits([...]). The position attribute is set in Firefox/Chrome. Do you have any clue what might be going on?

Greetings!

[2018-09-06 15:40] yowainwright commented on #374
Hey @Oliver-Piorun,

I could use more context—link, CodePen, code snippet, pictures, etc.

Also there is some information setting up Stickybits in Angular [here](https://github.com/dollarshaveclub/stickybits/wiki/Angular-Setup) thanks to @AsafAgranat. Maybe it will help.

[2018-09-11 10:19] greenkeeper[bot] opened #379 "An in-range update of debug is breaking the build 🚨"
## Version **3.2.1** of **debug** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/dollarshaveclub/stickybits/compare/master...dollarshaveclub:greenkeeper%2Fdebug-3.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/visionmed

[2018-09-11 11:40] DanielRuf commented on #379
Yup, well known as we changed the setup there.

debug@4 is for Node.js 6+ and debug@3 is for Node.js < 6.

[2018-09-11 11:40] DanielRuf commented on #379
It was "fixed" in 3.2.4. But current projects should switch to debug@4.

[2018-09-11 11:46] DanielRuf commented on #379
I guess we just have to update the lockfiles?

[2018-09-12 06:49] #379 closed

[2018-09-13 02:32] yowainwright commented on #374
Closing b/c of inactivity. 😄

[2018-09-13 02:32] #374 closed

[2018-09-24 17:10] tuckergordon opened #390 "Angular Example Not Working in IE11"
This example is linked to in the [Angular Setup](https://github.com/dollarshaveclub/stickybits/wiki/Angular-Setup) page but it does not work correctly for me in IE 11.0.75:

https://stackblitz.com/edit/angular-stickybits-directive

Please see attached screenshots. The header seems to stick but in the wrong place and when its parent element scrolls off screen it then jumps down the page and changes

[2018-09-24 19:24] fstani opened #391 "Chrome issues with select input and position:sticky"
Firstly let me tell that I know the issue might be with Chrome's current Version 69.0.3497.100 (Official Build) (64-bit), not necessarily with the stickybits code.
## Requested Update
When a input select is inside an element that is sticky, interacting with the select causes the browser to scroll to the top of the page. Using position:fixed works ok.

## Why Is This Update Needed?
To allow the usa

[2018-09-24 19:29] fstani commented on #391
After reading the documentation, there's support for position:fixed so this can be closed, but probably the support for position:sticky on chrome should be downgraded.

[2018-09-24 19:29] #391 closed

[2018-09-24 23:03] yowainwright commented on #390
Hey, @tuckergordon!

**Note:** Stickybits support for Angular is not maintained by people who work on Stickybits. 😃

Looking at the Wiki Angular example, it is not using the latest version of Stickybits. Could you update the Wiki with a working example?

[2018-09-25 12:14] tuckergordon commented on #390
I have yet to be able to produce a working example :sob: but if I get one working I will update the wiki!

[2018-09-29 21:04] Oliver-Piorun commented on #374
Thanks for replying. Providing more context was not possible due to legal aspects of the project. I switched to Stickyfill.

Greetings!

[2018-10-04 02:48] yowainwright commented on #390
I bumped the version of Stickybits used in the wiki. Hope it helps.

[2018-10-04 02:48] #390 closed

[2018-10-07 06:49] alexey-m-ukolov opened #405 "Proposed breaking changes for the next major version"
1. Methods should be specifically marked as public or private in the docs. It will tighten library contract and allow to refactor internal bits more freely.

2. Methods should not return `item` when it passed as a parameter to them. Since objects are passed by reference, item outside the method will be changed even without return. It might be confusing to somebody who will think that if they not r

[2018-10-07 07:46] yowainwright commented on #405
- **Point (2):** There might be something there.
- **Point (3):** I would need to look closely at that `els`.
- **Point (1, 5):** The API was more private. Making everything public was specific to vocal customers; same with providing  `userAgent` for debugging.

----

⚠️ Please use the Github templates.

[2018-10-16 06:39] alexey-m-ukolov commented on #405
Are _you_ ready for the new major release? If so, I can give it a shot next weekend.

Yes, and replied :)

[2018-10-17 03:47] nathanielw commented on #131
@yowainwright Hi, thanks for your work on this library! I might be misunderstanding how this project is making use of Github issues, so wanted to clarify: does this issue being closed mean you/the maintainers consider it out-of-scope for the library?

Adding some more context/my view of the problem: the bug affects all browsers whenever `useFixed: true` is passed into Stickybits and all browsers t

[2018-10-17 06:18] yowainwright commented on #131
@nathanielw, thanks for your sentiments.

----

#### Does this issue being closed mean you consider it out-of-scope for the library?

Yes. Browsers that are over 5 years old (over 4 years old when this issue was created) are second-class citizens. "jumpy" in a 4-year-old browser was not considered broken then.

----

#### Information that may help you

- [`useGetBoundingClientRect`](https://github

[2018-10-23 16:52] DarioVaccaro opened #412 "Proposed Updating Props in the Update function"
## Requested Update
Allow for the acceptance of properties as parameters that can be updated when the update function is called.

## Why Is This Update Needed?
For example, when a property is set dynamically based off of a calculation, this property can then change when the update function is called; Could be used when the window is resized and a calculation based off of a page element changes.

#

[2018-10-24 01:33] kfedorov91 opened #413 "sticky classes applied incorrectly after parent height changes"
## Requested Update

It seems like stickybits caches some values upon initialization but those cached values become invalid if certain things on the page change, like the height of the parent of the stickied element. Stickybits should be able to detect such changes and re-compute these values automatically, otherwise its calculations are off and it applies sticky classes at the wrong times.

Here'

[2018-10-24 07:28] yowainwright commented on #413
@kfedorov91 did you try [`.update()`](https://github.com/dollarshaveclub/stickybits#stickybits-update)?

[2018-10-24 07:34] yowainwright commented on #412
@DarioVaccaro this was discussed before. This looks like it could be a clean enhancement.

Would you mind submitting a pr with some tests and readme updates?

Let me know how I can help.

Thanks again,

Jeff

[2018-10-25 14:51] DarioVaccaro commented on #412
@yowainwright Sure, I'll write some tests and submit a PR this week. Thanks.

[2018-10-25 15:58] yowainwright commented on #412
@DarioVaccaro sound awesome!

Thank you!!!

[2018-10-31 06:42] yowainwright commented on #413
Closing b/c the was no response.

[2018-10-31 06:42] #413 closed

[2018-11-01 06:32] greenkeeper[bot] opened #414 "An in-range update of conventional-changelog-cli is breaking the build 🚨"
## The devDependency [conventional-changelog-cli](https://github.com/conventional-changelog/conventional-changelog) was updated from `2.0.5` to `2.0.7`.

🚨 [View failing branch](https://github.com/dollarshaveclub/stickybits/compare/master...dollarshaveclub:greenkeeper%2Fconventional-changelog-cli-2.0.7).

This version is **covered** by your **current version range** and after updating it in your p

[2018-11-02 00:38] #414 closed

[2018-11-10 15:44] levipadre opened #417 "Unstick on mobile size"
Thanks for the plugin. It's really good so far. It's hard to find a good sticky plugin nowadays.

I created some data attributes to make it easy to use, especially when needs to define offset values for multiple instances (you will see in the example code). This one is working well at the moment.

My problem is when I switch to mobile and want to turn sticky off with cleanup. It says "cleanup is n

[2018-11-12 03:42] yowainwright commented on #417
Hey @levipadre!

There are demos of this from previous issues. I can help more (if needed) in about a week. I'm not around much tech right now.

Thanks!

[2018-11-15 22:10] jacobshutty opened #419 "Does not work in IE"
I know there have been quite a few IE issues opened, but I've been trying to get it to work on even a basic level in IE for hours.

I would post a codepen, but codepen doesn't work in IE. Which means I wasn't able to try out any of your examples either.

Here is my code. You can paste it as an html file and open it. I'm using IE 11, and the latest version of stickybit (3.5.7).

[code]

[2018-11-16 02:30] yowainwright commented on #419
@jacobshutty sorry about the issue you're having

[code]
Does that code snippet help you?

Thanks, Jeff

[2018-11-21 16:30] TheSench commented on #419
Although codepen's editor does not support IE, you can still go to the view-only URLs in IE.  Create the pen in a different browser, then click on "Change View" in the upper-right and select "Full Page".  Copy that URL into IE to test there.  If I import stickybits 3.5.7 and paste in your div and CSS, it works in IE for me.

Editor View: https://codepen.io/Jon-Senchyna/pen/yQvVJV
Full Page View (l

[2018-11-21 18:41] #419 closed

[2018-12-11 15:00] reefki commented on #327
+1 for this feature!

My site's header has 3 bars wrapped inside `<header>` tag and I only want to make the last bar sticky. Apparently, it's not possible to make the last header bar always on the top of the page without unwrapping those three bars out of `<header>` tag.

@yowainwright any other solution for this http://jsfiddle.net/Lkt26q70/1/ ?

[2018-12-12 12:38] greenkeeper[bot] opened #426 "An in-range update of rollup-plugin-babel is breaking the build 🚨"
## The devDependency [rollup-plugin-babel](https://github.com/rollup/rollup-plugin-babel) was updated from `4.0.3` to `4.1.0`.

🚨 [View failing branch](https://github.com/dollarshaveclub/stickybits/compare/master...dollarshaveclub:greenkeeper%2Frollup-plugin-babel-4.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rol

[2018-12-17 01:09] yowainwright commented on #417
@levipadre sorry for the time it took to respond. [Here's]() a thread that will hopefully help

#355

[2018-12-17 01:09] #417 closed

[2018-12-17 01:10] #426 closed

[2018-12-19 03:40] #412 closed

[2019-01-07 06:46] psntr commented on #85
Hi there,

Don't mean to re-open this case but where can I find this option in the documentation?  I just try to not run StickyBits if the browser doesn't support it. But if there is an native option I'd rather go with it.

[2019-01-09 01:46] yowainwright commented on #85
@psntr it's been a bit. 😄

Could you share a code snippet? ~Thanks

[2019-01-15 04:43] DavidChouinard opened #441 "js-is-sticky class added when item not stuck"
See this codepen: https://codepen.io/DavidChouinard/pen/ebxrGG

![sticky](https://user-images.githubusercontent.com/388552/51159149-8d587600-183c-11e9-8e8a-7422cb9c9734.gif)

I expect `js-is-sticky` to only be added when the item has reached the top of the screen — when it's "stuck". It appears the class is added anytime the viewport is partially scrolled, regardless of whether the sticky item has

[2019-01-15 07:20] yowainwright commented on #441
I made minor tweaks to html in this forked [codepen](https://codepen.io/yowainwright/pen/OrdozP).

Hope it helps.

[2019-01-15 17:23] DavidChouinard commented on #441
Sorry, here's a better test case: https://codepen.io/DavidChouinard/pen/ebxrGG

![sticky](https://user-images.githubusercontent.com/388552/51197579-d218f700-18a6-11e9-9c9e-1764478345ca.gif)

Header #1 behaves as expected, but notice how Header #2 triggers its stuck state midway through the page. How can I detect when Header #2 has reached the top?

[2019-01-15 17:35] DavidChouinard commented on #441
Never mind, looks like the `header`/`article` combo need to be enclosed in a div for things to work. Thanks for you help @yowainwright!

[2019-01-15 17:35] #441 closed

[2019-01-15 19:19] yowainwright commented on #441
@DavidChouinard,

Stickybits _should_ work with the dom tree that you had setup if/after [this feature](https://github.com/dollarshaveclub/stickybits/issues/327) is implemented—or by using the `useFixed` option (which won't perform as well in mobile safari).

----

Stickybits is most useful for "doing stuff" when it **is** sticky.

In my own UI discussions, I **always** suggest to only use `positi

[2019-01-15 19:48] DavidChouinard commented on #441
Got it, thank you — will follow #327 for a resolution.

[2019-01-18 13:16] nickjg231 opened #443 "Using a sticky header inside of positioned elements"
See this codepen: https://codepen.io/anon/pen/EGJyMK

At the top I have a fixed header of `75px` which needs to remain at the top of the screen, thus I need to use `stickyBitStickyOffset: 75` on my table to account for this. Below the header, I have a very wide table which extends off the screen, so I created an element `.fader`, whose pseudo `::after` element contains a linear-gradient background

[2019-01-21 05:11] yowainwright commented on #443
Hello @nickjg231:

Using `position: sticky` within table elements is a [documented issue](https://github.com/dollarshaveclub/stickybits/issues/143) outside of using Stickybits.

If you could submit a similar Codepen but using divs, that would be great! I'll work with you on that CopePen (although, this is a chance that switching to divs will fix your issue 😊).

[2019-01-21 16:59] nickjg231 commented on #443
Thanks for the response @yowainwright. Here is an updated codepen using all divs: https://codepen.io/anon/pen/KJPJKJ

Unfortunately, switching to divs did not seem solve the issue. I believe it may still be due to the relatively positioned `.fader` element, but I'm not certain. I've tried using both `.table-header` and `.table-header div` as selectors when creating stickybits initially, but with n

[2019-01-22 20:15] yowainwright commented on #443
@nickjg231 I'll try to look within the next days. I've add a note to my todo list 😊.

[2019-01-31 10:06] manuhornung opened #446 "Manual removal of `position: sticky` and `top: 0px` added by constructor"
## Requested Update
In the case where stickybits falls back to the native `position:sticky` style, there should be a way to also have stickybits remove the inline styles again that it added. Right now, it doesn't keep track of the instances it added the inline styles to, which is why we can't call `removeInstance` on them to remove the stickiness again.
One has to manually call
[code]
which is an

[2019-01-31 15:07] jdolinski1 opened #447 "Add option to stick the element to bottom or top depending on scroll direction"
## Requested Update
Add option to stick the element to bottom or top depending on scroll direction

## Are There Examples Of This Requested Update Elsewhere?
As here: http://leafo.net/sticky-kit/ - example `Scrollable Sticky Element`, the "Very tall sidebar" div is dynamically sticked to top when you scroll bottom, or to bottom if your scroll direction is top.

Thanks.

[2019-02-02 22:31] yowainwright commented on #447
Hey @jdolinski1

This has been discussed in other issues. Here is link to a [demo](https://github.com/dollarshaveclub/stickybits#extended-examples).

~Thanks

[2019-02-02 22:31] #447 closed

[2019-02-02 22:32] yowainwright commented on #446
@manuhornung would you like to work on this fix/update? ~Thanks

[2019-02-02 22:42] yowainwright commented on #443
@nickjg231 it has to with the `.scrollable-div`. Here's a forked [codepen](https://codepen.io/yowainwright/pen/Ermdqj) where I removed that element which then doesn't reference those styles.

...Something will need to be done about that.

~Thanks. Sorry it took me a bit to respond.

[2019-02-02 22:42] #443 closed

[2019-02-13 14:33] cayuu opened #449 "Expected behaviour of IE11 handling of tables?"
## Requested Update

Hi there, just a question, rather than a request: is stickybits expected to work with IE11 for **tables**, specifically pinning `<thead><th>...` cells? I'm guessing not, having read through a few other tickets and tried a few options, but thought I'd try for a canonical "no" :)

I've set up a JSBin that puts a very basic example in play, that works for almost everything I've t

[2019-02-13 17:21] afk-mcz opened #450 "Sticky element is bigger than the viewport"
## Requested Update
A way to scroll the sticky element if it's bigger than the viewporr

## Why Is This Update Needed?
Currently if the sticky element is bigger than the viewport, you have to scroll all the parent to see the remaining content.

## Are There Examples Of This Requested Update Elsewhere?
http://leafo.net/sticky-kit/

on the section Scrollable Sticky Element

Not really sure if this i

[2019-02-13 17:39] afk-mcz commented on #450
Managed to do a pen using the `possition bottom` missed the
`// setup bottom sticky` at the beggining.

Example for anyone interested

[2019-02-18 11:00] FrankMerema opened #452 "Missing properties and functions in typings file"
## Requested Update

In the typings file I miss for example the useGetBoundingClientRect prop and the update() function.

## Why Is This Update Needed?

To support useGetBoundingClientRect in a Typescript project and call the update function.

## Are There Examples Of This Requested Update Elsewhere?

[2019-02-19 08:51] jdolinski1 commented on #447
Hello, you did not provided link to a specific demo, just list of demos. Please advise which one i should focus on.

[2019-02-19 13:46] FrankMerema opened #455 "Question about offset calculation"
Hi,

First of all great library! It's saving me a lot of work :D

I a question regarding scrolling within a ```<section>``` which is a scrollable container. (overflow: auto)
In this section I have some content which needs to have a sticky header which stays within the boundings of its scrollable parent.

On Chrome and FF this is working perfectly because of the css position: sticky, IE is not work

[2019-02-19 13:48] FrankMerema commented on #455
I have made a branch in my fork https://github.com/FrankMerema/stickybits/tree/bugfix/offset-calculation-for-scrollable-childs but it is based on my typescript branch, which I also needed for testing in my Angular application.

[2019-02-20 06:26] #452 closed

[2019-02-20 07:45] manuhornung commented on #446
Unfortunately I have other issues on my list with a higher priority and we went for a workaround on our userland side. I will come back to this once I find the time but please feel free to go ahead without me.

Thanks for your quick reply in any case, I'm happy that you also see this as a valuable change.

[2019-02-22 04:38] samk-ayyagari commented on #449
+ 1

[2019-02-28 22:33] david-hollifield commented on #145
I just started trying to use this in an angular app and wasn't getting any sticky class changes either. I think the problem is due to the scroll offsets being calculated *before* the view template is being completely rendered. So the scrolling ranges aren't correct and stickybits never thinks the item is being scrolled.

[2019-03-02 22:44] yowainwright commented on #449
Stickybits is not particular to `<table>` elements or browser issues with the `position: sticky` and `position: fixed` on `<table>` elements.

AKA, no Stickybits js will be added to the utility to support specific elements in specific browsers.

The quick fix is, don't use `<table>` for `sticky/fixed` items. Or, don't make `<table>` elements  `sticky/fixed`. 😃

~Thanks

[2019-03-02 22:44] #449 closed

[2019-03-02 22:45] #450 closed

[2019-03-02 22:47] #405 closed

[2019-03-03 00:44] #455 closed

[2019-03-03 03:18] yowainwright commented on #446
Hey @manuhornung I apologize that it took me so long to get back to you.

Could you show the problem with this [Codepen](https://codepen.io/yowainwright/pen/gRgdep)?

The Codepen I placed above cleans up (using `.cleanup()`) each instance and it appears to work as intended—removing inline styles.

I am not saying that there is not an issue. I am saying I'm not quite clear on the issue now that I'm

[2019-03-03 11:02] manuhornung commented on #446
Thanks for trying to investigate this!
First off, there seems to have been a bug in the codepen you prepared. I'm just saying this in case you're also using this in other contexts: The JS tried to apply the stickiness to `.child-1` when in fact there are only thee `.child` elements and no `.child-1`.

BTT though: I adapted the Codepen to reproduce the issue here: https://codepen.io/anon/pen/moPNeo

[2019-03-04 15:04] StephenMeehan2016 opened #471 "How does customStickyChangeNumber work?"
Stickybits is super useful, many thanks for this!

Could you explain how `customStickyChangeNumber` works? The docs mention this, but other than this sentence there's no other mention?

I'm finding `.js-is-sticky--change` is being added too early and removed too late.

An example would be really helpful.

[2019-03-13 08:10] athena0304 opened #474 "problem when scrollEl is not on the top"
## Requested Update
add another option that can calculate the offsetTop of the wrapper of the scrollEl
## Why Is This Update Needed?
when we need to set the scrollEl, probably the scrollEl is not on the top of the view, so mistake happens, just like the following example.
## Are There Examples Of This Requested Update Elsewhere?

https://codepen.io/athena0304/pen/vPWPgJ

[2019-03-13 08:33] athena0304 commented on #474
it does not work when using flex

[2019-03-14 06:00] SilencerWeb opened #475 "It doesn't work if there is overflow: hidden somewhere on the parent"
It doesn't work if there is `overflow: hidden` somewhere on the parent (no matter on what tree level)

[2019-03-21 08:32] antonreshetov opened #478 "How to set custom stickyStart position?"
I would like to set the offset from the parent container until the start of sticking.

[2019-03-25 00:00] yowainwright commented on #478
@antonreshetov that's a good idea. I think this may work how #327 will work. I hope to work on Stickybits issues in a somewhat near timeframe. If you'd like to help, PRs are welcome 😊.

[2019-03-25 00:01] yowainwright commented on #475
@SilencerWeb Could you provide more detail and an example?

[2019-03-25 00:01] yowainwright commented on #474
@athena0304 is the second comment related to the first? ~Thanks

[2019-03-25 00:02] yowainwright commented on #471
@StephenMeehan2016 could you provide a code example with your issue so that I can try and help? ~Thanks

[2019-03-25 05:04] SilencerWeb commented on #475
@yowainwright, add `overflow: hidden` to the block with class `content-block__inner`:

![image](https://user-images.githubusercontent.com/20713191/54896286-46929680-4ee5-11e9-9d8d-57ca29ee1e00.png)

Here is the sticky block:

![image](https://user-images.githubusercontent.com/20713191/54896297-53af8580-4ee5-11e9-9365-53340a7c39cb.png)

Link to the website — https://mutify.app/privacy-policy

[2019-03-26 08:54] esvi opened #481 "IE11 - No 'position:fixed' added on scroll"
Hi,

I am having trouble getting this to work in IE and Edge. I only see the `js-stickybit-parent` class being added (even in Chrome with `useStickyClasses`).

Never seeing `js-is-sticky` or `js-is-stuck` being added.
`style="top: 70px;"` is added to the sticky element in IE but never any positioning as in Chrome.

All relatively positioned containers, no weird CSS on any of the elements, no heigh